@import (reference) 'styles/heading.less';

.banner {

  align-items    : center;
  background     :
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('@{pathPrefix}/images/Lake-Louise.webp') no-repeat center center;
  background-size: cover;
  color          : white; // This applies in dark mode too, which is fine given its background.
  flex-direction : column;
  padding        : var(--space-xl);
  text-align     : center;
  text-shadow    : 0.1em 0.1em 0.1em black;

  .name-eng {
    .heading;
    font-size: 4em;
  }

  .name-eng a {
    position: relative;
  }

  .name-eng a::after {
    content        : 'Ph.D.';
    font-size      : x-large;
    inset-block-end: 0;
    padding-block  : 0.4em;
    padding-inline : var(--text-inline-padding);
    position       : absolute;
  }

  .name-ipa {
    .heading;
    font-size: xx-large;
  }

  .tagline {
    font-weight: 300;
    font-size  : x-large;
    padding    : var(--text-padding-lg);
  }

}
