<header class=banner>
  <span class=name-eng><a href=/>Daniel W. Hieber</a></span>
  <span class='name-ipa phon'><a href=/>ˈdæn.jəl ˈhi.bɚ</a></span>
  <span class=tagline>Diversity linguist and science communicator</span>
</header>