---
title      : Research
permalink  : /research/
---
<main id=main>

<h1 class=page-title>Research</h1>

{% md %}

## Typology & Functional Theory

I am fascinated by the crosslinguistic patterns we see in the world's languages and the functional motivations behind those patterns. My interest in linguistic typology ranges from the broadly theoretical—such as my dissertation on <cite>Lexical polyfunctionality in discourse</cite> or my review article on Basic Linguistic Theory—to applying a typological framework to the analysis of specific languages—such as my article on 'Semantic alignment in Chitimacha' or my M.A. thesis on the discourse functions of prosody in Gusii.

- Word classes
- Semantic alignment in Chitimacha
- Lexical polyfunctionality in discourse: A quantitative corpus-based approach
- On linguistics, language, and our times: A linguist's personal narrative reviewed
- The cohesive function of prosody in Ékegusií (Kisii) narratives: A functional-typological approach

## Documentation & Revitalization

Most of my work is motivated by the documentary and revitalization needs of the communities I work with. Language documentation is the foundation upon which my theoretical work is built. My research on grammatical relations in Chitimacha, for example, is directly motivated by the tribe's need to better understand this aspect of Chitimacha grammar. The Digital Linguistics project likewise aims to provide better tools for managing documentary linguistic data. I also write on the theory and practice of documentary linguistics and language revitalization, such as my papers on 'Building the lexicon for awakening languages' or 'Embracing variation in linguistic analysis'.

- Embracing variation in linguistic analysis
- Building the lexicon for awakening languages
- New words needed: A comparative database for Algonquian lexical information
- Digital Linguistics for language documentation
- Digital collaboration: 21st century tools for revitalization
- A case study in digital collaboration: Navajo Language Renaissance & Rosetta Stone Navajo

## Diachronic Linguistics & Language Contact

All of my research is informed by diachronic theory and language contact, which provide insights into both the synchronic description of languages and the functional-historical means by which grammatical constructions arise. My paper on 'Embracing variation in linguistic analysis' provides practical advice for how to use diachronic theory to better understand variation in data, and much of my work on Chitimacha grammar has a strong diachronic component supporting the synchronic analysis (see my paper on 'Semantic alignment in Chitimacha grammar' for a great example of this). I also write direcctly on diachronic issues as well, such as my work on 'Category genesis in Chitimacha' or 'Chitimacha diachrony in areal perspective'.

- Embracing variation in linguistic analysis
- Category genesis in Chitimacha
- Assessing the Chitimacha-Totozoquean hypothesis
- Chitimacha diachrony in areal perspective
- The Chitimacha language: A history
- Ergativity in Chitimacha

## Digital Linguistics (<abbr class=abbr title='Digital Linguistics'>DLx</abbr>)

Digital Linguistics (DLx) is concerned with the digital storage, representation, manipulation, and dissemination of linguistic data. The DLx project maintains a standard format for exchanging linguistic data on the web, and is working to build a variety of browser-based tools for linguists to better manage their linguistic data. [Learn more about Digital Linguistics here.][DLx]

- **The Data Format for Digital Linguistics (<abbr class=abbr title='Data Format for Digital Linguistics'>DaFoDiL</abbr>)**: A standard JSON format for storing and exchanging linguistic data on the web.
- **Scription:** A standard for writing interlinear glosses that are computer-parseable, while adhering to the same conventions linguists are already using (especially the Leipzig Glossing Rules).
- **scription2dlx:** A JavaScript library for converting data in Scription format to JSON.
- **transliterate:** A JavaScript library for transliterating strings between different orthographies.
- **styles:** CSS styles for formatting linguistic data on the web.
- **word-aligner:** A JavaScript library for vertically aligning interlinear glosses.

## Discourse & Prosody

One of the major insights within linguistics in the past forty years is that discourse has structure, and that structure is as systematic and complex as any other component of the grammar. A major component of my work is to understand how discourse structure interacts with and shapes other parts of the grammar. My paper on 'Chitimacha diachrony in areal perspective', for example, shows how multilingual speakers influenced the discourse patterns of Chitimacha to completely restructure the language's grammar, while my M.A. thesis examines the way that prosodic cues are used to segment discourse and indicate the relationships between those segments. The diachronic effects of discourse pressures on grammar also inform much of my research on grammatical relations in Chitimacha.

- Chitimacha diachrony in areal perspective
- The cohesive function of prosody in Ékegusií (Kisii) narratives: A functional-typological approach
- Ergativity in Chitimacha
- (with Carol Genetti) The start and the end of it: Prosodic marking of speech report boundaries in Dolakha Newar
- Optional subject marking in Chitimacha

<!-- LINKS -->
[DLx]: https://digitallinguistics.io/

{% endmd %}

</main>
