@import (reference) 'software.less';

.research-page {

  li::marker {
    content: '📄';
  }

  li:hover::marker {
    content: '📖';
  }

  .software-list {
    .software-list;
  }

  ul {
    margin-block : var(--space-xxs);
    margin-inline: var(--space-lg);
  }

}
