@import (reference) 'styles/utilities.less';

.skip-link {

  border-radius: var(--border-radius);
  margin       : var(--space-xs);
  padding      : var(--text-padding);
  position     : absolute;

  &:focus {
    outline: none;
  }

  &:not(:focus) {
    .visually-hidden;
  }

  @media (prefers-color-scheme: light) {
    background-color: white;
    border          : var(--border-thickness) solid black;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--background-color-dark);
    border          : var(--border-thickness) solid white;
  }

}
