@import (reference) 'styles/heading.less';

.section-header {
  .heading;
  border-block  : 0.0325em solid black;
  font-size     : 1.625em;
  margin-block  : var(--space-xxxs);
  padding-inline: 0.5rem;
  padding-block : var(--text-block-padding-sm);
}
