.home-page {

  @home-breakpoint: 50em;

  font-size  : x-large;
  font-weight: 300;
  max-width  : var(--measure-sm);

  // override default link style
  a {
    font-weight              : 500;
    text-decoration-thickness: initial;
  }

  a::after {
    --icon-size: 0.65em;
  }

  // override default definition style
  dfn {
    font-weight: 500;
  }

  .headshot {
    aspect-ratio : 1;
    clip-path    : circle(50% at center);
    inline-size  : 15em;
    margin       : auto;
    shape-outside: circle(50%);
  }

  .intro {
    font-size     : xx-large;
    padding-inline: 0.75rem;
  }

  // override default strong style
  strong {
    font-weight: 500;
  }

  // large screens
  @media (min-width: @home-breakpoint) {
    .headshot {
      float        : left;
      margin-inline: 0em var(--space);
      margin-block : var(--space) 0em;
    }
  }

}
