.home-page {

  align-self : center;
  font-size  : x-large;
  font-weight: 300;
  margin     : var(--space);
  max-width  : var(--measure-sm);

  // override default link style
  a {
    font-weight: 500;
  }

  a::after {
    --icon-size: 0.65em;
  }

  // override default definition style
  dfn {
    font-weight: 500;
  }

  .intro {
    font-size     : xx-large;
    padding-inline: 0.75rem;
  }

  // override default strong style
  strong {
    font-weight: 500;
  }

}
