---
title      : Home
permalink  : /
---

{% set less %}
  {% include './Home.less' %}
{% endset %}

<style>
  {{ less | css | safe }}
</style>

<main id=main class=home-page>

{% md %}

# Home {.page-title .visually-hidden}

<!-- headshot here (circular? with text around?) -->

Hello, I'm Danny! 👋🏼 I am a linguist. 🗣️ {.intro}

I work to **document and revitalize endangered languages**, while studying the **crosslinguistic patterns we see across the world's languages** (a field known as <dfn class=dfn>linguistic typology</dfn>).

I work primarily with the [Chitimacha Tribe of Louisiana][Chitimacha] to help them [revitalize their once-dormant language][GradSlam]. We are using archival materials to produce a modern dictionary and grammar of the language.

**I run the [Digital Linguistics][DLx] (<abbr class=abbr title='Digital Linguistics'>DLx</abbr>) project**, which provides data formats and web-based tools for working with linguistic data.

<!-- Grad Slam photo here -->

**I am an avid science communicator**, creating educational videos about language and linguistics for popular audiences on platforms like [TikTok] and [YouTube]. Check out the [Linguistic Discovery website][LingDiscovery] for more!

I earned my M.A. and Ph.D. in linguistics from the [University of California, Santa Barbara][UCSB], and my B.A. in linguistics and philosophy from the [College of William & Mary][WM] in Virginia. Prior to and during graduate school I worked for [Rosetta Stone][RS]’s [Endangered Language Program][ELP] to create language-learning software with Native American communities.

During my career, I have worked with the [Chitimacha], [Plains Cree][Cree], [Gusii], [Iñupiaq], [Luiseño], [Mixtec], [Navajo], and [Swahili] language communities.

<!-- LINKS -->
[Chitimacha]:    https://en.wikipedia.org/wiki/Chitimacha
[Cree]:          https://en.wikipedia.org/wiki/Cree_language
[DLx]:           https://digitallinguistics.io/
[ELP]:           https://www.rosettastone.com/languages/endangered
[GradSlam]:      https://time.com/3975016/chitimacha-language-comeback/
[Gusii]:         https://en.wikipedia.org/wiki/Gusii_language
[Iñupiaq]:       https://en.wikipedia.org/wiki/I%C3%B1upiaq_language
[LingDiscovery]: https://linguisticdiscovery.com
[Luiseño]:       https://en.wikipedia.org/wiki/Luise%C3%B1o_language
[Mixtec]:        https://en.wikipedia.org/wiki/Mixtec_language
[Navajo]:        https://en.wikipedia.org/wiki/Navajo_language
[RS]:            https://rosettastone.com/
[Swahili]:       https://en.wikipedia.org/wiki/Swahili_language
[TikTok]:        https://www.tiktok.com/@linguisticdiscovery
[UCSB]:          https://linguistics.ucsb.edu/
[WM]:            https://www.wm.edu/as/linguistics/
[YouTube]:       https://www.youtube.com/c/LinguisticDiscovery

{% endmd %}

</main>
