---
title      : Design
permalink  : /design/
---
{% set less %}
  {% include './Design.less' %}
{% endset %}

{# Don't include styles for this page in the main layout. #}
<style>
  {{ less | css | safe }}
</style>

<main id='main' class='design-page'>

  <h1 class=page-title>Design</h1>

  <section>
    <h2 class=section-header>Introduction</h2>
    <p class=p>The design system for <a class=link href=https://danielhieber.info>danielhieber.info</a>. Components are listed below in alphabetical order.</p>
  </section>

  <section>
    <h2 class=section-header>Abbreviation</h2>
    <p class=p>This is a sentence with an <abbr class=abbr title=abbreviation>ABBR</abbr> (abbreviation) in it.</p>
  </section>

  <section>
    <h2 class=section-header>Bulleted List</h2>
    <ul class=bulleted>
      <li>This is the first item.</li>
      <li>This is the second item.</li>
      <li>This is the third item.</li>
    </ul>
  </section>

  <section>
    <h2 class=section-header>Definition</h2>
    <p class=p>This is a sentence which provides a <dfn class=dfn>definition</dfn>, which provides the meaning of a term.</p>
  </section>

  <section>
    <h2 class=section-header>Link</h2>
    <p class=p>This is a paragraph with an <a class=link href=https://danielhieber.info/>absolute link</a> in it.</p>
    <p class=p>This is a paragraph with a <a class=link href=/cv>relative link</a> in it.</p>
    <p class=p>This is a paragraph with a <a class=link href=#>same-page link</a> in it.</p>
    <p class=p>This is a paragraph with an <a class=link href=https://linguisticdiscovery.com>external link</a> in it.</p>
  </section>

  <section>
    <h2 class=section-header>Page Title</h2>
    <p class=page-title>This is a page title.</p>
  </section>

  <section>
    <h2 class=section-header>Paragraph</h2>
    <p class=p>Adipisicing cillum ipsum cupidatat sit quis eu excepteur duis quis labore minim eiusmod. Officia dolor eiusmod ea consectetur culpa exercitation Lorem duis esse. Dolor nulla esse enim aliqua amet elit pariatur. Velit deserunt incididunt Lorem et velit. Exercitation ut adipisicing duis officia cillum ipsum quis aliqua est aliqua in. Velit nulla amet ut aliqua veniam dolore consectetur duis tempor fugiat ea anim voluptate. Ipsum fugiat voluptate in duis deserunt velit.</p>
    <p class=p>Officia ipsum consectetur est in id quis. Ad est Lorem dolor fugiat culpa commodo consequat. Cillum anim deserunt occaecat enim ut Lorem minim cupidatat qui Lorem.</p>
    <p class=p>Exercitation consectetur ex excepteur sint dolor deserunt sint consequat. Deserunt Lorem cillum nulla ullamco non cillum aute non sunt amet laboris aute commodo. Id enim exercitation velit officia irure nisi qui laborum nostrud reprehenderit id amet nulla dolore. Aute veniam laborum nulla deserunt aute veniam quis est nulla ad excepteur. Ex ea non dolor laborum id nulla Lorem aliqua duis exercitation consequat nostrud tempor nostrud. Cupidatat officia sint magna ipsum exercitation.</p>
  </section>

  <section>
    <h2 class=section-header>Phonemic Transcription</h2>
    <p class=p>This is a paragraph with a <span class=phon>fə.ˈni.mɪk</span> transcription in it.</p>
  </section>

  <section>
    <h2 class=section-header>Strong Emphasis</h2>
    <p class=p>This is a paragraph with <strong class=strong>strongly emphasized</strong> text.</p>
  </section>

  <section>
    <h2 class=section-header>Subsection Header</h2>
    <h3 class=subsection-header>This is a subsection header</h3>
  </section>

  <section>
    <h2 class=section-header>Transcription</h2>
    <p class=p>This is a paragraph with a <span class=txn>transcription</span> in it.</p>
  </section>

</main>