---
title      : Design
permalink  : /design/
---
{% set less %}
  {% include './Design.less' %}
{% endset %}

{# Don't include styles for this page in the main layout. #}
<style>
  {{ less | css | safe }}
</style>

<main id='main' class='design-page'>

  <h1 class=page-title>Design</h1>

  <section>
    <h2 class=section-header>Introduction</h2>
    <p class=p>The design system for <a class=link href=https://danielhieber.info>danielhieber.info</a>. Components are listed below in alphabetical order.</p>
  </section>

  <section>
    <h2 class=section-header>Phonemic Transcription</h2>
    <p class=p>This is a paragraph with a <span class=phon>fə.ˈni.mɪk</span> transcription in it.</p>
  </section>

  <section>
    <h2 class=section-header>Link</h2>
    <p class=p>This is a paragraph with an <a class=link href=https://danielhieber.info/>absolute link</a> in it.</p>
    <p class=p>This is a paragraph with a <a class=link href=/cv>relative link</a> in it.</p>
    <p class=p>This is a paragraph with a <a class=link href=#>same-page link</a> in it.</p>
    <p class=p>This is a paragraph with an <a class=link href=https://linguisticdiscovery.com>external link</a> in it.</p>
  </section>

  <section>
    <h2 class=section-header>Transcription</h2>
    <p class=p>This is a paragraph with a <span class=txn>transcription</span> in it.</p>
  </section>

</main>