<ul class=cv-list>
  <li id=2013b class=cv-item>
    <time class=first-year datetime=2013>2013</time>
    <p class=citation>(with Sharon Hargus & Edward Vajda, eds.) <cite><a class=link href='https://epay.alaska.edu/C21563_ustores/web/product_detail.jsp?PRODUCTID=5782&SINGLESTORE=true'>Working papers in Athabaskan (Dene) languages 2012</a></cite> (Alaska Native Language Center Working Papers 11). Alaska Native Language Center.</p>
  </li>
</ul>