<ul class=cv-list>
  <li id=2011f class=cv-item>
    <time class=first-year datetime=2011>2011</time>
    <p class=citation><strong><a href=https://amzn.to/3LNUyMe>Growing up</a></strong>. In Lynn K. Talbot & Andrew Talbot Squires (eds.), <cite>Following the yellow arrow: Younger pilgrims on the Camino</cite>. Wingspan Press.</p>
    <a class=cover href=https://amzn.to/3LNUyMe>
      <img src={{ '/images/TalbotTalbot2011.jpg' | url }}>
    </a>
  </li>
</ul>