<ul class=cv-list>

  <li id=2017d class=cv-item>
    <time class=first-year datetime=2017>2017</time>
    <p class=citation><a class=link href=https://hiphilangsci.net/2017/05/04/praxeology-and-language-social-science-as-the-study-of-human-action/>Praxeology and language: Social science as the study of human action</a>. <cite>History & Philosophy of the Language Sciences</cite>.</p>
  </li>

  <li id=2015c class=cv-item>
    <time class=first-year datetime=2015>2015</time>
    <p class=citation><a class=link href=http://time.com/3975016/chitimacha-language-comeback/>Renaissance on the bayou: Revitalizing the Chitimacha language</a>. Published in:</p>
    <ul class='additional-info bulleted'>
      <li><a class='link subtle' href=http://time.com/3975016/chitimacha-language-comeback/>Time Magazine</a> (as ‘A dying language is making a comeback’)</li>
      <li><a class='link subtle' href=http://theconversation.com/renaissance-on-the-bayou-the-revival-of-a-lost-language-43958>The Conversation</a> (as ‘Renaissance on the bayou: The revival of a lost language’)</li>
      <li><a class='link subtle' href=https://www.languagemagazine.com/2015/07/31/the-successful-revival-of-the-chitimacha-language/>Language Magazine</a> (as ‘The successful revival of the Chitimacha language’)</li>
      <li><a class='link subtle' href=http://www.houstonchronicle.com/local/gray-matters/article/Reviving-a-lost-language-of-Louisiana-6409708.php>The Houston Chronicle</a> (as ‘Reborn on the bayou: A lost language of Louisiana’)</li>
    </ul>
  </li>

  <li id=2014g class=cv-item>
    <time class=first-year datetime=2014>2014</time>
    <p class=citation><a class=link href=https://www.facebook.com/notes/committee-on-endangered-languages-and-their-preservation/language-revitalization-in-africa/745305242171758>Language revitalization in Africa</a>. <cite>Linguistic Society of America (<abbr title='Linguistic Society of America'>LSA</abbr>) Committee on Endangered Languages & their Preservation (<abbr title='Committee on Endangered Languages & their Preservation'>CELP</abbr>) Blog</cite>.</p>
  </li>

  <li id=2014f class=cv-item>
    <time datetime=2014>2014</time>
    <p class=citation><a class=link href=https://dlc.hypotheses.org/660>The necessity of grammatical structures</a>. <cite>Diversity Linguistics Comment</cite>.</p>
  </li>

  <li id=2013d class=cv-item>
    <time class=first-year datetime=2013>2013</time>
    <p class=citation><a class=link href=https://dlc.hypotheses.org/570>Rethinking ecolinguistic diversity</a>. <cite>Diversity Linguistics Comment</cite>.</p>
  </li>

  <li id=2013c class=cv-item>
    <time datetime=2013>2013</time>
    <p class=citation><a class=link href=https://mises.org/library/language-action>Language as action</a>. <cite>Mises Daily</cite>, Ludwig von Mises Institute.</p>
  </li>

  <li id=2012h class=cv-item>
    <time class=first-year datetime=2012>2012</time>
    <p class=citation><a class=link href=https://dlc.hypotheses.org/299>Typology: The study of unity or diversity?</a> <cite>Diversity Linguistics Comment</cite>.</p>
  </li>

  <li id=2012g class=cv-item>
    <time datetime=2012>2012</time>
    <p class=citation><a class=link href=https://mises.org/library/english-all-freedom-none>English for all, freedom for none</a>. <cite>Mises Daily</cite>, Ludwig von Mises Institute.</p>
  </li>

  <li id=2012f class=cv-item>
    <time datetime=2012>2012</time>
    <p class=citation><a class=link href=https://www.mises.org/library/why-do-languages-die>Why do languages die?</a> <cite>Mises Daily</cite>, Ludwig von Mises Institute.</p>
  </li>

  <li id=2010e class=cv-item>
    <time class=first-year datetime=2010>2010</time>
    <p class=citation><a class=link href=https://mises.org/library/language-and-socialist-calculation-problem>Language and the socialist-calculation problem</a>. <cite>Mises Daily</cite>, Ludwig von Mises Institute.</p>
  </li>

</ul>