---
title    : Publications & Presentations
permalink: /publications/
---
{% set less %}
  {% include './Publications.less' %}
{% endset %}

<style>
  {{ less | css | safe }}
</style>

<main id=main class=publications-page>

  <h1 class=page-title>Publications & Presentations</h1>

  <section id=articles class=articles>
    <h2 class=section-header>Articles & Chapters</h2>
    <ul class=cv-list>

      <li class=cv-item>
        <time>forthcoming</time>
        <p><a class=link href=https://www.researchgate.net/publication/343302793_Word_classes>Word classes</a>. In Carmen Jany, Keren Rice, & Marianne Mithun (eds.), <cite>The languages and linguistics of indigenous North America: A comprehensive guide</cite> (The World of Linguistics 13). Mouton de Gruyter.</p>
        <ul class=links>
          <li><a class='link subtle' href=https://www.researchgate.net/publication/343302793_Word_classes>chapter</a></li>
        </ul>
      </li>

      <li class=cv-item>
        <time>forthcoming</time>
        <p><a class=link href=https://www.researchgate.net/publication/335430338_Chitimacha>Chitimacha</a>. In Carmen Jany, Keren Rice, & Marianne Mithun (eds.), <cite>The languages and linguistics of indigenous North America: A comprehensive guide</cite> (The World of Linguistics 13). Mouton de Gruyter.</p>
        <ul class=links>
          <li><a class='link subtle' href=https://www.researchgate.net/publication/335430338_Chitimacha>chapter</a></li>
        </ul>
      </li>

      <li class=cv-item>
        <time datetime=2019>2019</time>
        <p><a class=link href=https://www.researchgate.net/publication/334859871_The_Chitimacha_Language_A_History>The Chitimacha language: A history</a>. In Nathalie Dajko & Shana Walton (eds.), <cite>Language in Louisiana: Community & culture</cite> (America's Third Coast Series), pp. 9–27. University Press of Mississippi. DOI: <a class='link subtle' href=https://doi.org/10.2307/j.ctvkwnnm1.7>10.2307/j.ctvkwnnm1.7</a>.</p>
        <ul class=links>
          <li><a class='link subtle' href=https://www.researchgate.net/publication/334859871_The_Chitimacha_Language_A_History>chapter</a></li>
          <li><a class='link subtle' href=https://amzn.to/3kUaXTT>book</a></li>
        </ul>
      </li>

      <li class=cv-item>
        <time datetime=2019>2019</time>
        <p><a class=link href=https://www.researchgate.net/publication/334147421_Semantic_alignment_in_Chitimacha>Semantic alignment in Chitimacha</a>. <cite>International Journal of American Linguistics</cite> 85(3): 313–363. DOI: <a class='link subtle' href=https://doi.org/10.1086/703239>10.1086/703239</a>.</p>
        <ul class=links>
          <li><a class='link subtle' href=https://www.researchgate.net/publication/334147421_Semantic_alignment_in_Chitimacha>paper</a></li>
        </ul>
      </li>

      <li class=cv-item>
        <time datetime=2018>2018</time>
        <p><a class=link href=https://www.researchgate.net/publication/323559361_Category_genesis_in_Chitimacha_A_constructional_approach>Category genesis in Chitimacha: A constructional approach</a>. In Kristel Van Goethem, Muriel Norde, Evie Coussé, & Gudrun Vanderbauwhede (eds.), <cite>Category change from a constructional perspective</cite> (Constructional Approaches to Language 20), pp. 15–46. John Benjamins. DOI: <a class='link subtle' href=https://doi.org/10.1075/cal.20.02hie>10.1075/cal.20.02hie</a>.</p>
        <ul class=links>
          <li><a class='link subtle' href=https://www.researchgate.net/publication/323559361_Category_genesis_in_Chitimacha_A_constructional_approach>chapter</a></li>
          <li><a class='link subtle' href=https://amzn.to/3vCWJge>book</a></li>
        </ul>
      </li>

      <li class=cv-item>
        <time datetime=2013>2013</time>
        <p><a class=link href="https://www.researchgate.net/publication/260293842_On_linguistics_language_and_our_times_A_linguist's_personal_narrative_reviewed">On linguistics, language, and our times: A linguist's personal narrative reviewed</a>. <cite>Linguistic Typology</cite> 17(2): 291–321. Review article of R.M.W. Dixon, <cite>I am a linguist</cite> (2010), Brill. DOI: <a class='link subtle' href=https://doi.org/10.1515/lity-2013-0013>10.1515/lity-2013-0013</a>.</p>
        <ul class=links>
          <li><a class='link subtle' href="https://www.researchgate.net/publication/260293842_On_linguistics_language_and_our_times_A_linguist's_personal_narrative_reviewed">paper</a></li>
        </ul>
      </li>

    </ul>
  </section>

  <section id=edited-volumes class=edited-volumes>
    <h2 class=section-header>Edited Volumes</h2>
    <ul>

    </ul>
  </section>

  <section id=presentations class=presentations>
    <h2 class=section-header>Presentations</h2>
    <ul>

    </ul>
  </section>

  <section id=software class=software>
    <h2 class=section-header>Software</h2>
    <ul>

    </ul>
  </section>

  <section id=online-articles class=online-articles>
    <h2 class=section-header>Online Articles</h2>
    <ul>

    </ul>
  </section>

  <section id=reviews class=reviews>
    <h2 class=section-header>Reviews</h2>
    <ul>

    </ul>
  </section>

  <section id=unpublished class=unpublished>
    <h2 class=section-header>Unpublished Manuscripts</h2>
    <ul>

    </ul>
  </section>

  <section id=non-linguistic class=non-linguistic>
    <h2 class=section-header>Non-Linguistic Publications</h2>
    <ul>

    </ul>
  </section>

</main>


<li class=cv-item>
  <time datetime=YYYY>YYYY</time>
  <p><a class=link href=link>Title</a>. Details. <cite>Publication</cite>. Details. DOI: <a class='link subtle' href=https://doi.org/12345>12345</a>.</p>
  <ul class=links>
    <li><a class='link subtle' href=link>paper</a></li>
  </ul>
</li>