---
title    : Publications & Presentations
permalink: /publications/
---
{% set less %}
  {% include '../CV/CV.less' %}
{% endset %}

<style>
  {{ less | css | safe }}
</style>

<main id=main class=cv-page>

  <h1 class=page-title>Publications & Presentations</h1>

  <p class=intro>All publications may be downloaded at the links below. My work is also available on <a class=link href=https://www.researchgate.net/profile/Daniel-Hieber>ResearchGate</a> and <a class=link href=https://independent.academia.edu/DanielHieber>Academia.edu</a>.</p>

  <p class=intro>You can view my curriculum vitae (education, work experience, etc.) on the <a class=link href=/cv>CV page</a>.</p>

  <p class=intro>You can view a list of my media appearances on the <a class=link href=https://linguisticdiscovery.com/media target=_blank rel=noopener>Media page</a>.</p>

  <section id=articles class=articles>
    <h2 class=section-header>Articles & Chapters</h2>
    {% include './Articles.njk' %}
  </section>

  <section id=edited-volumes class=edited-volumes>
    <h2 class=section-header>Edited Volumes</h2>
    {% include './Edited.njk' %}
  </section>

  <section id=theses class=theses>
    <h2 class=section-header>Theses</h2>
    {% include './Theses.njk' %}
  </section>

  <section id=presentations class=presentations>
    <h2 class=section-header>Presentations</h2>
    {% include './Presentations.njk' %}
  </section>

  <section id=software class=software>

    <h2 class=section-header>Software</h2>

    <p class='centered intro'><a class=link href=https://github.com/dwhieb>View my GitHub profile here.</a></p>

    <h3 class=subsection-header>Digital Linguistics (DLx)</h3>

    {% include 'software.njk' %}

    <h3 class=subsection-header>Rosetta Stone</h3>

    {% include './RosettaStone.njk' %}

  </section>

  <section id=online-articles class=online-articles>
    <h2 class=section-header>Online Articles</h2>
    {% include './Online.njk' %}
  </section>

  <section id=reviews class=reviews>
    <h2 class=section-header>Book Reviews</h2>
    {% include './Reviews.njk' %}
  </section>

  <section id=unpublished class=unpublished>
    <h2 class=section-header>Unpublished Manuscripts</h2>
    <p class=intro>The following items are unpublished term papers that might contain information of interest. Note that I was still a young linguist in training when these were written, so please be a charitable reader! 🙂</p>
    {% include './Unpublished.njk' %}
  </section>

  <section id=non-linguistic class=non-linguistic>
    <h2 class=section-header>Non-Linguistic Publications</h2>
    {% include './NonLinguistic.njk' %}
  </section>

</main>