@import (reference) 'software.less';
@import 'styles/utilities.less';
@import 'styles/abbreviation.less';
@import 'styles/pub-title.less';
@import 'styles/strong.less';
@import 'styles/superscript.less';
@import 'styles/transcription.less';

@pubs-breakpoint: 50em;

.publications-page {

  abbr {
    .abbr;
  }

  .additional-info {
    flex-direction: column;
    grid-area     : info;
  }

  .award::marker {
    content: '🏅';
  }

  .bulleted {
    margin-inline: var(--space-lg);
  }

  cite {
    .pub-title;
  }

  .cover {

    grid-area    : cover;
    margin-inline: var(--space-xs);

    img {
      width: 5em;
    }

  }

  .cv-list {
    flex-direction: column;
    gap           : var(--space-xs);
  }

  .first-place::marker {
    content: '🥇';
  }

  .iframe {
    width: 100%;
  }

  .intro.centered {
    text-align: center;
  }

  .link::after {
    display: none;
  }

  .links {

    gap           : var(--text-inline-padding);
    grid-area     : links;
    padding-inline: var(--text-inline-padding);

    .link::before {
      all    : revert;        // avoids coloring opening parenthesis
      content: '(';
      display: inline-block;
    }

    .link::after {
      all    : revert;        // override external link styles
      content: ')';
      display: inline-block;
    }

  }

  .location::marker {
    content: '📍';
  }

  .media {
    align-items   : center;
    flex-direction: column;
    inline-size   : 80%;
    grid-area     : media;
    justify-self  : center;
    margin        : var(--space-sm);
  }

  .new-tab {
    padding: var(--text-padding);
  }

  p {
    padding: var(--text-padding);
  }

  .pub-item {

    align-items        : baseline;
    display            : grid;
    font-size          : large;
    grid-template-areas:
      'date citation cover'
      '.    links cover'
      '.    info cover'
      '.    media cover';
    grid-template-columns: 7.5em auto auto;

    & > p {
      grid-area: citation;
    }

  }

  .second-place::marker {
    content: '🥈';
  }

  .slides-com {
    aspect-ratio: 576 / 420;
  }

  .software-list {
    .software-list;
    font-size: large;
  }

  strong {
    .strong;
  }

  sup {
    .sup;
  }

  time {
    grid-area  : date;
    padding    : var(--text-padding);
    white-space: nowrap;
  }

  .yt {
    aspect-ratio: 16 / 9;
  }

  @media (max-width: @pubs-breakpoint) {

    inline-size: 100%;

    .bulleted {
      margin-inline-start: 3.5em;
    }

    .cover {

      align-self   : center;
      margin-inline: 2em;
      width        : 25%;

      img {
        width: 100%;
      }

    }

    .pub-item:not(:last-child)::after {
      align-self      : center;
      background-color: #DDD;
      content         : '';
      height          : 0.05em;
      margin          : 0.5rem 0;
      width           : 90%;
    }

    h2, h3 {
      padding-inline: 1rem;
    }

    .links {
      margin-inline : 1em;
      padding-inline: var(--text-inline-padding-lg);
    }

    .media {
      align-self   : stretch;
      inline-size  : auto;
      margin-inline: 2em;
    }

    p {
      margin-inline: var(--space);
      padding      : var(--text-padding-lg);
    }

    .pub-item {
      display       : flex;
      flex-direction: column;
    }

    time {
      font-size     : larger;
      font-weight   : 600;
      padding-inline: 1rem;
    }

    time:not(.first-year) {
      .visually-hidden;
    }

  }

}
