---
title    : Publications & Presentations
permalink: /publications/
---
{% set less %}
  {% include './Publications.less' %}
{% endset %}

<style>
  {{ less | css | safe }}
</style>

{% set softwareStyles %}
  {% include 'software.less' %}
{% endset %}

<style>
  {{ softwareStyles | css | safe }}
</style>

<main id=main class=publications-page>

  <h1 class=page-title>Publications & Presentations</h1>

  <p class=intro>All publications may be downloaded at the links below. My work is also availabe on <a class=link href=https://www.researchgate.net/profile/Daniel-Hieber>ResearchGate</a> and <a class=link href=https://independent.academia.edu/DanielHieber>Academia.edu</a>.</p>

  <section id=articles class=articles>
    <h2 class=section-header>Articles & Chapters</h2>
    <ul class=cv-list>

      <li id=fc-b class=pub-item>
        <time>forthcoming</time>
        <p><a class=link href=https://www.researchgate.net/publication/343302793_Word_classes>Word classes</a>. In Carmen Jany, Keren Rice, & Marianne Mithun (eds.), <cite>The languages and linguistics of indigenous North America: A comprehensive guide</cite> (The World of Linguistics 13). Mouton de Gruyter.</p>
      </li>

      <li id=fc-a class=pub-item>
        <time>forthcoming</time>
        <p><a class=link href=https://www.researchgate.net/publication/335430338_Chitimacha>Chitimacha</a>. In Carmen Jany, Keren Rice, & Marianne Mithun (eds.), <cite>The languages and linguistics of indigenous North America: A comprehensive guide</cite> (The World of Linguistics 13). Mouton de Gruyter.</p>
      </li>

      <li id=2019b class=pub-item>
        <time datetime=2019>2019</time>
        <p>
          <a class=link href=https://www.researchgate.net/publication/334859871_The_Chitimacha_Language_A_History>The Chitimacha language: A history</a>. In Nathalie Dajko & Shana Walton (eds.), <cite>Language in Louisiana: Community & culture</cite> (America’s Third Coast Series), pp. 9–27. University Press of Mississippi. DOI: <a class='link subtle' href=https://doi.org/10.2307/j.ctvkwnnm1.7>10.2307/j.ctvkwnnm1.7</a>.
        </p>
        <ul class=links>
          <li><a class='link subtle' href=https://www.researchgate.net/publication/334859871_The_Chitimacha_Language_A_History>chapter</a></li>
          <li><a class='link subtle' href=https://amzn.to/3kUaXTT>book</a></li>
        </ul>
        <a class=cover href=https://amzn.to/3kUaXTT>
          <img src={{ '/images/DajkoWalton2019.jpg' | url }}>
        </a>
      </li>

      <li id=2019a class=pub-item>
        <time datetime=2019>2019</time>
        <p><a class=link href=https://www.researchgate.net/publication/334147421_Semantic_alignment_in_Chitimacha>Semantic alignment in Chitimacha</a>. <cite>International Journal of American Linguistics</cite> 85(3): 313–363. DOI: <a class='link subtle' href=https://doi.org/10.1086/703239>10.1086/703239</a>.</p>
      </li>

      <li id=2018a class=pub-item>
        <time datetime=2018>2018</time>
        <p><a class=link href=https://www.researchgate.net/publication/323559361_Category_genesis_in_Chitimacha_A_constructional_approach>Category genesis in Chitimacha: A constructional approach</a>. In Kristel Van Goethem, Muriel Norde, Evie Coussé, & Gudrun Vanderbauwhede (eds.), <cite>Category change from a constructional perspective</cite> (Constructional Approaches to Language 20), pp. 15–46. John Benjamins. DOI: <a class='link subtle' href=https://doi.org/10.1075/cal.20.02hie>10.1075/cal.20.02hie</a>.</p>
        <ul class=links>
          <li><a class='link subtle' href=https://www.researchgate.net/publication/323559361_Category_genesis_in_Chitimacha_A_constructional_approach>chapter</a></li>
          <li><a class='link subtle' href=https://amzn.to/3vCWJge>book</a></li>
        </ul>
        <a class=cover href=https://amzn.to/3vCWJge>
          <img src={{ '/images/VanGoethemetal2018.jpg' | url }}>
        </a>
      </li>

      <li id=2013a class=pub-item>
        <time datetime=2013>2013</time>
        <p><a class=link href="https://www.researchgate.net/publication/260293842_On_linguistics_language_and_our_times_A_linguist's_personal_narrative_reviewed">On linguistics, language, and our times: A linguist’s personal narrative reviewed</a>. <cite>Linguistic Typology</cite> 17(2): 291–321. Review article of R.M.W. Dixon, <cite>I am a linguist</cite> (2010), Brill. DOI: <a class='link subtle' href=https://doi.org/10.1515/lity-2013-0013>10.1515/lity-2013-0013</a>.</p>
      </li>

    </ul>
  </section>

  <section id=edited-volumes class=edited-volumes>
    <h2 class=section-header>Edited Volumes</h2>
    <ul class=cv-list>
      <li id=2013b class=pub-item>
        <time datetime=2013>2013</time>
        <p>(with Sharon Hargus & Edward Vajda, eds.) <cite><a class=link href='https://epay.alaska.edu/C21563_ustores/web/product_detail.jsp?PRODUCTID=5782&SINGLESTORE=true'>Working papers in Athabaskan (Dene) languages 2012</a></cite> (Alaska Native Language Center Working Papers 11). Alaska Native Language Center.</p>
      </li>
    </ul>
  </section>

  <section id=theses class=theses>
    <h2 class=section-header>Theses</h2>
    <ul class=cv-list>

      <li id=2021a class=pub-item>
        <time datetime=2021>2021</time>
        <p><cite><a class=link href=https://www.researchgate.net/publication/353597964_Lexical_polyfunctionality_in_discourse_A_quantitative_corpus-based_approach>Lexical polyfunctionality in discourse: A quantitative corpus-based approach</a></cite>. Ph.D. dissertation, Department of Linguistics, University of California, Santa Barbara. Chair: Prof. Marianne Mithun. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.11932.00640>10.13140/RG.2.2.11932.00640</a>.</p>
      </li>

      <li id=2016a class=pub-item>
        <time datetime=2016>2016</time>
        <p><cite><a class=link href=https://www.researchgate.net/publication/337590690_The_cohesive_function_of_prosody_in_Ekegusii_Kisii_narratives_A_functional-typological_approach>The cohesive function of prosody in Ékegusií (Kisii) narratives: A functional-typological approach</a></cite>. M.A. thesis, Department of Linguistics, University of California, Santa Barbara. Chair: Prof. Carol Genetti. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.17818.18886>10.13140/RG.2.2.17818.18886</a>.</p>
      </li>

    </ul>
  </section>

  <section id=presentations class=presentations>
    <h2 class=section-header>Presentations</h2>
    <ul class=cv-list>

      <li id=2022c class=pub-item>
        <time datetime=2022>2022</time>
        <p><a class=link href=https://www.researchgate.net/publication/360320829_Obsolescence_or_diachronic_change_Embracing_variation_in_linguistic_analysis>Obsolescence or diachronic change: Embracing variation in linguistic analysis</a>. Invited colloquium talk (virtual). James Cook Language & Culture Research Center, April 11. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.15284.73600>10.13140/RG.2.2.15284.73600</a>.</p>
      </li>

      <li id=2022b class=pub-item>
        <time datetime=2022>2022</time>
        <p><a class=link href=https://youtu.be/i9OjXv_ljU8>Word classes</a>. Invited lecture (virtual). ‘Language Patterns’, Prof. Jack B. Martin, Department of Linguistics, College of William & Mary, February 8.</p>
        <iframe class=media width="560" height="315" src="https://www.youtube.com/embed/i9OjXv_ljU8" title="YouTube player for 'Word classes'" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      <li id=2022a class=pub-item>
        <time datetime=2022>2022</time>
        <p><a class=link href=https://www.researchgate.net/publication/357646924_Lexical_polyfunctionality_in_discourse_A_quantitative_corpus-based_approach>Lexical polyfunctionality in discourse: A quantitative corpus-based approach</a>. Poster presentation (virtual). Linguistic Society of America (<abbr title='Linguistic Society of America'>LSA</abbr>), January 6. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.20167.83360>10.13140/RG.2.2.20167.83360</a>.</p>
        <ul class=links>
          <li><a class='link subtle' href=https://youtu.be/zkR5oJM6KHE>video</a></li>
          <li><a class='link subtle' href=https://www.researchgate.net/publication/357646924_Lexical_polyfunctionality_in_discourse_A_quantitative_corpus-based_approach>slides</a></li>
        </ul>
        <iframe class=media src=https://www.youtube.com/embed/zkR5oJM6KHE height=315 width=560 title='YouTube player for "Lexical polyfunctionality in discourse: A quantitative corpus-based approach"' frameborder=0 allow='accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
      </li>

      <li id=2021a class=pub-item>
        <time datetime=2021>2021</time>
        <p><a class=link href=https://www.researchgate.net/publication/360383569_Chitimacha_History_grammar_revitalization>Chitimacha: History, grammar, revitalization</a>. Invited lecture (virtual). ‘Morphosyntax’, Prof. Robert Englebretson, Department of Linguistics, Rice University, September 17. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.30246.60483>10.13140/RG.2.2.30246.60483</a>.</p>
        <ul class='additional-info bulleted'>
          <li>Also presented this lecture on November 6, 2020.</li>
        </ul>
      </li>

      <li id=2020b class=pub-item>
        <time datetime=2020>2020</time>
        <p><a class=link href=https://www.researchgate.net/publication/360383767_Chitimacha_language_revitalization>Chitimacha language revitalization</a>. Invited lecture (virtual). ‘Language Revitalization’, Prof. Jordan Lachler, Department of Linguistics, University of Alberta, November 18. DOI: <a class='link subtle' href=https://doi.org/https://doi.org/10.13140/RG.2.2.30246.60483>https://doi.org/10.13140/RG.2.2.30246.60483</a>.</p>
      </li>

      <li id=2020a class=pub-item>
        <time datetime=2020>2020</time>
        <p><a class=link href=https://www.researchgate.net/publication/349547326_Lexical_flexibility_Expanding_the_empirical_coverage>Lexical flexibility: Expanding the empirical coverage</a>. Doctoral colloquium (virtual). Department of Linguistics, University of California, Santa Barbara, November 12. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.31867.85288>10.13140/RG.2.2.31867.85288</a>.</p>
      </li>

      <li id=2019g class=pub-item>
        <time datetime=2019>2019</time>
        <p><a class=link href=https://www.researchgate.net/publication/336592288_Lexical_flexibility_in_English_A_preliminary_study>Lexical flexibility in English: A preliminary study</a>. Invited talk. College of William & Mary, October 15. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.33601.71528>10.13140/RG.2.2.33601.71528</a>.</p>
      </li>

      <li id=2019f class=pub-item>
        <time datetime=2019>2019</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590687_New_words_needed_A_comparative_database_for_Algonquian_lexical_innovation>New words needed: A comparative database for Algonquian lexical innovation</a>. Symposium on Historical-Comparative Linguistics for Language Revitalization, University of California, Davis, June 29–30. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.35434.26568>10.13140/RG.2.2.35434.26568</a>.</p>
      </li>

      <li id=2019e class=pub-item>
        <time datetime=2019>2019</time>
        <p><a class=link href=https://www.researchgate.net/publication/333381112_Digital_Linguistics_for_language_documentation>Digital Linguistics for language documentation</a>. Invited lecture. Language Documentation Seminar, Prof. Carol Genetti, Department of Linguistics, University of California, Santa Barbara, May 24. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.13238.96329>10.13140/RG.2.2.13238.96329</a>.</p>
        <iframe class=media src="https://slides.com/dwhieb/digital-linguistics-for-language-documentation/embed?style=light" width="576" height="420" title="Digital Linguistics for Language Documentation" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </li>

      <li id=2019d class=pub-item>
        <time datetime=2019>2019</time>
        <p><a class=link href=https://www.researchgate.net/publication/333506631_Optional_subject_marking_in_Chitimacha>Optional subject marking in Chitimacha</a>. Chicago Linguistic Society (<abbr title='Chicago Linguistic Society'>CLS</abbr>), May 16–18. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.25821.87526>10.13140/RG.2.2.25821.87526</a>.</p>
      </li>

      <li id=2019c class=pub-item>
        <time datetime=2019>2019</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590787_Ergativity_in_Chitimacha>Ergativity in Chitimacha</a>. Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>), New York City, January 3–6. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.28723.37923>10.13140/RG.2.2.28723.37923</a>.</p>
        <ul class='additional-info bulleted'>
          <li class=award>Winner of SSILA’s Best Student Presentation Award for 2019.</li>
        </ul>
      </li>

      <li id=2018d class=pub-item>
        <time datetime=2018>2018</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590681_Nominal_alignment_in_Chitimacha>Nominal alignment in Chitimacha</a>. Workshop on American Indigenous Languages (<abbr title='Workshop on American Indigenous Languages'>WAIL</abbr>), University of California, Santa Barbara, April 20–21. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.32078.82240>10.13140/RG.2.2.32078.82240</a>.</p>
      </li>

      <li id=2018c class=pub-item>
        <time datetime=2018>2018</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590866_Lessons_from_an_isolate_Chitimacha_diachrony_in_areal_perspective>Lessons from an isolate: Chitimacha diachrony in areal perspective</a>. Invited talk. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.25367.93605/1>10.13140/RG.2.2.25367.93605/1</a>.</p>
        <div class=additional-info>
          <p>Versions of this talk were presented at:</p>
          <ul class=bulleted>
            <li class=location>Fieldwork Forum (FForum), Department of Linguistics, University of California, Berkeley, April 8, 2018</li>
            <li class=location>Department of Linguistics, University of Wisconsin-Madison, March 2, 2018</li>
            <li class=location>American Indian Seminar, Department of Linguistics, University of California, Los Angeles, May 9, 2017</li>
          </ul>
        </div>
        <iframe class=media src="https://onedrive.live.com/embed?cid=F7CF2C9D3DC7FDC6&resid=F7CF2C9D3DC7FDC6%21457235&authkey=ALW9nC5UZHBvP9M&em=2" width="80%" height="500" frameborder="0" scrolling="no"></iframe>
      </li>

      <li id=2018b class=pub-item>
        <time datetime=2018>2018</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590865_Chitimacha_diachrony_in_areal_perspective_Lessons_from_an_isolate>Chitimacha diachrony in areal perspective: Lessons from an isolate</a>. Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>), Salt Lake City, January 4–7. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.33756.54409>10.13140/RG.2.2.33756.54409</a>.</p>
        <ul class='additional-info bulleted'>
          <li>Shorter version of ‘Lessons from an isolate: Chitimacha diachrony in areal perspective’ (<a class='link subtle' href=#2018c>see above</a>).</li>
        </ul>
      </li>

      <li id=2017c class=pub-item>
        <time datetime=2017>2017</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590928_Prosody_and_cohesion_in_Ekegusii_Kisii_narrative>Prosody and cohesion in Ékegusií (Kisii) narrative</a>. Invited talk. 26<sup>th</sup> Annual Linguistics Symposium, California State University, Fullerton, April 12. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.27045.65764>10.13140/RG.2.2.27045.65764</a>.</p>
      </li>

      <li id=2017b class=pub-item>
        <time datetime=2017>2017</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590771_Prosody_and_cohesion_in_Ekegusii_Kisii_narrative>Prosody and cohesion in Ékegusií (Kisii) narrative</a>. Poster presentation. Annual Conference on African Linguistics (<abbr title='Annual Conference on African Linguistics'>ACAL</abbr>), Indiana University, March 30–April 2. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.16979.32801/1>10.13140/RG.2.2.16979.32801/1</a>.</p>
        <ul class=links>
          <li><a class='link subtle' href=https://dwhieb.github.io/acal-48/>view online</a></li>
        </ul>
        <div class=media style='width: 90%;'>
          <span class=new-tab>(<a class=link href=https://dwhieb.github.io/ACAL-48/ target=_blank>Open in new tab</a>)</span>
          <iframe src=https://dwhieb.github.io/ACAL-48/ frameborder=1 height=500 width=100%></iframe>
        </div>
      </li>

      <li id=2017a class=pub-item>
        <time datetime=2017>2017</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590609_Indeterminate_valency_and_verbal_ambivalence_in_Chitimacha>Indeterminate valency and verbal ambivalence in Chitimacha</a>. Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>), Austin, January 5–8. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.36482.84164>10.13140/RG.2.2.36482.84164</a>.</p>
      </li>

      <li id=2016f class=pub-item>
        <time datetime=2016>2016</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590845_Singing_the_morals_The_function_of_musico-linguistic_shifts_in_Kisii_folktales>Singing the morals: The function of musico-linguistic shifts in Kisii folktales</a>. Invited panel presentation, <cite>Playing the changes, saying the changes: The social meaning of musico-linguistic style-shifting</cite> (organized by Jessica Love-Nichols & Morgan Sleeper), American Anthropological Association (<abbr title='American Anthropological Association'>AAA</abbr>), Minneapolis, November 16–20. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.23061.06882>10.13140/RG.2.2.23061.06882</a>.</p>
      </li>

      <li id=2016e class=pub-item>
        <time datetime=2016>2016</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590658_The_cohesive_function_of_prosody_in_Ekegusii_Kisii_narratives>The cohesive function of prosody in Ékegusií (Kisii) narratives</a>. Discourse Workshop, Department of Linguistics, University of California, Santa Barbara. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.33127.39846>10.13140/RG.2.2.33127.39846</a>.</p>
      </li>

      <li id=2016d class=pub-item>
        <time datetime=2016>2016</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590655_Non-autonomous_valency-changing_devices_in_Chitimacha>Non-autonomous valency-changing devices in Chitimacha</a>. Workshop on American Indigenous Languages (<abbr title='Workshop on American Indigenous Languages'>WAIL</abbr>), University of California, Santa Barbara, May 6–7. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.19705.62565>10.13140/RG.2.2.19705.62565</a>.</p>
      </li>

      <li id=2016c class=pub-item>
        <time datetime=2016>2016</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590651_How_to_become_a_Kisii_folktale_Generic_features_of_moralizing_narratives_among_the_Gusii_people_of_Kenya>How to become a Kisii folktale: Generic features of moralizing narratives among the Gusii people of Kenya</a>. Language, Interaction, & Social Organization (<abbr title="Language, Interaction, & Social Organization">LISO</abbr>) Symposium, <cite>Special Session on Interaction & Culture Across Languages: Perspectives from Field Linguistics</cite>, University of California, Santa Barbara, April 8. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.34805.12003>10.13140/RG.2.2.34805.12003</a>.</p>
      </li>

      <li id=2016b class=pub-item>
        <time datetime=2016>2016</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590816_The_extension_of_structure_to_discourse_Chitimacha_participles_in_discourse_and_diachrony>The extension of structure to discourse: Chitimacha participles in discourse and diachrony</a>. Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>), Washington, D.C., January 7–10. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.28094.23369>10.13140/RG.2.2.28094.23369</a>.</p>
      </li>

      <li id=2015b class=pub-item>
        <time datetime=2015>2015</time>
        <p><a class=link href=https://youtu.be/Md7Wku6nGoE>Renaissance on the bayou: Revitalizing the Chitimacha language</a>. Talk presented at the University of California's <a class='link subtle' href=https://gradslam.universityofcalifornia.edu/>Grad Slam</a> competition for the best 3-minute research talk by a graduate student.</p>
        <ul class='additional-info bulleted'>
          <li class=first-place>1<sup>st</sup> place, University of California, Santa Barbara Finals (April 17)</li>
          <li class=second-place>2<sup>nd</sup> place, University of California Grand Finals (May 4)</li>
        </ul>
        <iframe class=media width="560" height="315" src="https://www.youtube.com/embed/Md7Wku6nGoE" title="YouTube player for 'Renaissance on the bayou: Revitalizing the Chitimacha language'" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>

      <li id=2015a class=pub-item>
        <time datetime=2015>2015</time>
        <p>(with Carol Genetti) <a class=link href=https://www.researchgate.net/publication/337590577_The_start_and_end_of_it_Prosodic_marking_of_speech_report_boundaries_in_Dolakha_Newar>The start and end of it: Prosodic marking of speech report boundaries in Dolakha Newar</a>. Plenary talk. South Asian Languages Conference, London, May 15. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.31449.67688>10.13140/RG.2.2.31449.67688</a>.</p>
      </li>

      <li id=2014e class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590735_Category_genesis_through_schematicity_On_the_origin_of_Chitimacha_preverbs>Category genesis through schematicity: On the origin of Chitimacha preverbs</a>. Silver Anniversary Conference, Department of Linguistics, University of California, Santa Barbara, October 11. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.24738.79042>10.13140/RG.2.2.24738.79042</a>.</p>
      </li>

      <li id=2014d class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=https://www.researchgate.net/publication/337589576_Building_the_lexicon_for_awakening_languages>Building the lexicon for reawakening languages</a>. Conference on Language Revitalization: Sleeping & Awakening Languages of the Gulf South, Tulane University, New Orleans, July 7. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.10478.15686>10.13140/RG.2.2.10478.15686</a>.</p>
      </li>

      <li id=2014c class=pub-item>
        <time datetime=2014>2014</time>
        <p><strong>Documentation and revitalization of Ékegusií language and culture</strong>. Invited talk. Ékegusií Encyclopedia Project, Mombasa.</p>
      </li>

      <li id=2014b class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=https://www.researchgate.net/publication/337590565_Degrees_and_dimensions_of_grammaticalization_in_Chitimacha_preverbs>Degrees and dimensions of grammaticalization in Chitimacha preverbs</a>. Workshop on American Indigenous Languages (<abbr title='Workshop on American Indigenous Languages'>WAIL</abbr>), University of California, Santa Barbara, May 2–3. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.35643.98080>10.13140/RG.2.2.35643.98080</a>.</p>
      </li>

      <li id=2014a class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=https://www.researchgate.net/publication/337589637_Semantic_alignment_in_Chitimacha>Semantic alignment in Chitimacha</a>. Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>), Minneapolis, January 4. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.22641.63840>10.13140/RG.2.2.22641.63840</a>.</p>
      </li>

      <li id=2012d class=pub-item>
        <time datetime=2012>2012</time>
        <p><a class=link href=https://www.researchgate.net/publication/337589555_The_politically_incorrect_guide_to_language_death>The politically incorrect guide to language death</a>. Invited lecture. ‘Language & Culture’, Prof. Amy L. Paugh, Department of Anthropology, James Madison University, November 11. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.25997.08169>10.13140/RG.2.2.25997.08169</a>.</p>
      </li>

      <li id=2012c class=pub-item>
        <time datetime=2012>2012</time>
        <p>(with Lorraine Begay Manavi & Kasra Manavi) <a class=link href=https://www.researchgate.net/publication/337589552_Rosetta_Stone_Navajo_Language_Renaissance_Collaboration_for_revitalization>Rosetta Stone & Navajo Language Renaissance</a>. Invited keynote. Athabaskan (Dene) Languages Conference, Western Washington University, August 15–17. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.12575.30887>10.13140/RG.2.2.12575.30887</a>.</p>
      </li>

      <li id=2012b class=pub-item>
        <time datetime=2012>2012</time>
        <p><a class=link href=https://www.researchgate.net/publication/337589457_Digital_collaboration_21st_century_tools_for_revitalization>Digital collaboration: 21<sup>st</sup> century tools for revitalization</a>. Poster presentation. Language Revitalization in the 21<sup>st</sup> Century: Going global, staying local, City University of New York (<abbr title='City University of New York'>CUNY</abbr>), New York City, May 31–June 1. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.34385.68964>10.13140/RG.2.2.34385.68964</a>.</p>
      </li>

      <li id=2012a class=pub-item>
        <time datetime=2012>2012</time>
        <p><a class=link href=https://www.researchgate.net/publication/337589450_Language_endangerment_and_nationalism>Language endangerment and nationalism</a>. Invited talk co-sponsored by the Latin American Studies Program and the Arts & Sciences Lectures Committee. College of William & Mary, February 27. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.27674.80327>10.13140/RG.2.2.27674.80327</a>.</p>
      </li>

      <li id=2011c class=pub-item>
        <time datetime=2011>2011</time>
        <p><a class=link href=https://www.researchgate.net/publication/337589390_Language_endangerment_A_history>Language endangerment: A history</a>. Invited lecture. ‘Language & Culture’, Prof. Amy L. Paugh, Department of Anthropology, James Madison University, November 1. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.31030.24643>10.13140/RG.2.2.31030.24643</a>.</p>
      </li>

      <li id=2011b class=pub-item>
        <time datetime=2011>2011</time>
        <p>(with Lorraine Begay Manavi & Marion K. Bittinger) <a class=link href=https://www.researchgate.net/publication/337589213_A_case_study_in_digital_collaboration_Navajo_Language_Renaissance_and_Rosetta_Stone_Navajo>A case study in digital collaboration: Navajo Language Renaissance and Rosetta Stone Navajo</a>. Stabilizing Indigenous Languages Symposium (<abbr title='Stabilizing Indigenous Languages Symposium'>SILS</abbr>), Albuquerque, May 20. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.17608.47364>10.13140/RG.2.2.17608.47364</a>.</p>
      </li>

      <li id=2011a class=pub-item>
        <time datetime=2011>2011</time>
        <p>(with Marion K. Bittinger) <strong>Language revitalization: Issues with reference to Navajo</strong>. Invited lecture. ‘Language & Culture’, Prof. Amy L. Paugh, Department of Anthropology, James Madison University, November.</p>
      </li>

      <li id=2010b class=pub-item>
        <time datetime=2010>2010</time>
        <p>(with Marion K. Bittinger) <strong>Language revitalization: Navajo</strong>. Invited lecture. ‘Language & Culture’, Prof. Amy L. Paugh, Department of Anthropology, James Madison University, November 11.</p>
      </li>

      <li id=2010a class=pub-item>
        <time datetime=2010>2010</time>
        <p><a class=link href=https://www.researchgate.net/publication/337589429_Elicitation_techniques>Elicitation techniques</a>. Invited talk. Rosetta Stone, Harrisonburg, VA. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.24319.36008>10.13140/RG.2.2.24319.36008</a>.</p>
      </li>

    </ul>
  </section>

  <section id=software class=software>

    <h2 class=section-header>Software</h2>

    <p style='align-self: center; text-align: center;'><a class=link href=https://github.com/dwhieb>View my GitHub profile here.</a></p>

    <h3 class=subsection-header>Digital Linguistics (DLx)</h3>

    {% include 'software.njk' %}

    <h3 class=subsection-header>Rosetta Stone</h3>

    <ul class=cv-list>

      <li id=2020c class=pub-item>
        <time datetime=2020>2020</time>
        <p><strong>Rosetta Stone Luiseño (<span class=txn lang=lui>Chamtéela</span>)</strong>. Assistant Editor.</p>
      </li>

      <li id=2012e class=pub-item>
        <time datetime=2012>2012</time>
        <p><strong>Rosetta Stone Iñupiaq (<span class=txn lang=esi>Iñupiatun</span>)</strong>. Editor.</p>
      </li>

      <li id=2010d class=pub-item>
        <time datetime=2010>2010</time>
        <p><a href=https://navajorenaissance.org/orderwpp.html><strong>Rosetta Stone Navajo (<span class=txn lang=nav>Diné bizaad</span>)</strong></a>. Editor.</p>
      </li>

      <li id=2010c class=pub-item>
        <time datetime=2010>2010</time>
        <p><strong>Rosetta Stone Chitimacha (<span class=txn lang=ctm>Sitimaxa</span>)</strong>. Editor.</p>
      </li>

    </ul>

  </section>

  <section id=online-articles class=online-articles>
    <h2 class=section-header>Online Articles</h2>
    <ul class=cv-list>

      <li id=2017d class=pub-item>
        <time datetime=2017>2017</time>
        <p><a class=link href=https://hiphilangsci.net/2017/05/04/praxeology-and-language-social-science-as-the-study-of-human-action/>Praxeology and language: Social science as the study of human action</a>. <cite>History & Philosophy of the Language Sciences</cite>.</p>
      </li>

      <li id=2015c class=pub-item>
        <time datetime=2015>2015</time>
        <p><a class=link href=http://time.com/3975016/chitimacha-language-comeback/>Renaissance on the bayou: Revitalizing the Chitimacha language</a>. Published in:</p>
        <ul class='additional-info bulleted'>
          <li><a class='link subtle' href=http://time.com/3975016/chitimacha-language-comeback/>Time Magazine</a> (as ‘A dying language is making a comeback’)</li>
          <li><a class='link subtle' href=http://theconversation.com/renaissance-on-the-bayou-the-revival-of-a-lost-language-43958>The Conversation</a> (as ‘Renaissance on the bayou: The revival of a lost language’)</li>
          <li><a class='link subtle' href=https://www.languagemagazine.com/2015/07/31/the-successful-revival-of-the-chitimacha-language/>Language Magazine</a> (as ‘The successful revival of the Chitimacha language’)</li>
          <li><a class='link subtle' href=http://www.houstonchronicle.com/local/gray-matters/article/Reviving-a-lost-language-of-Louisiana-6409708.php>The Houston Chronicle</a> (as ‘Reborn on the bayou: A lost language of Louisiana’)</li>
        </ul>
      </li>

      <li id=2014g class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=https://www.facebook.com/notes/committee-on-endangered-languages-and-their-preservation/language-revitalization-in-africa/745305242171758>Language revitalization in Africa</a>. <cite>Linguistic Society of America (<abbr title='Linguistic Society of America'>LSA</abbr>) Committee on Endangered Languages & their Preservation (<abbr title='Committee on Endangered Languages & their Preservation'>CELP</abbr>) Blog</cite>.</p>
      </li>

      <li id=2014f class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=https://dlc.hypotheses.org/660>The necessity of grammatical structures</a>. <cite>Diversity Linguistics Comment</cite>.</p>
      </li>

      <li id=2013d class=pub-item>
        <time datetime=2013>2013</time>
        <p><a class=link href=https://dlc.hypotheses.org/570>Rethinking ecolinguistic diversity</a>. <cite>Diversity Linguistics Comment</cite>.</p>
      </li>

      <li id=2013c class=pub-item>
        <time datetime=2013>2013</time>
        <p><a class=link href=https://mises.org/library/language-action>Language as action</a>. <cite>Mises Daily</cite>, Ludwig von Mises Institute.</p>
      </li>

      <li id=2012h class=pub-item>
        <time datetime=2012>2012</time>
        <p><a class=link href=https://dlc.hypotheses.org/299>Typology: The study of unity or diversity?</a> <cite>Diversity Linguistics Comment</cite>.</p>
      </li>

      <li id=2012g class=pub-item>
        <time datetime=2012>2012</time>
        <p><a class=link href=https://mises.org/library/english-all-freedom-none>English for all, freedom for none</a>. <cite>Mises Daily</cite>, Ludwig von Mises Institute.</p>
      </li>

      <li id=2012f class=pub-item>
        <time datetime=2012>2012</time>
        <p><a class=link href=https://www.mises.org/library/why-do-languages-die>Why do languages die?</a> <cite>Mises Daily</cite>, Ludwig von Mises Institute.</p>
      </li>

      <li id=2010e class=pub-item>
        <time datetime=2010>2010</time>
        <p><a class=link href=https://mises.org/library/language-and-socialist-calculation-problem>Language and the socialist-calculation problem</a>. <cite>Mises Daily</cite>, Ludwig von Mises Institute.</p>
      </li>

    </ul>
  </section>

  <section id=reviews class=reviews>
    <h2 class=section-header>Book Reviews</h2>
    <ul class=cv-list>

      <li id=2016g class=pub-item>
        <time datetime=2016>2016</time>
        <p><a class=link href=https://www.researchgate.net/publication/305218657_Review_of_A_Typological_Grammar_of_Panare_A_Cariban_Language_of_Venezuela_Thomas_E_Payne_Doris_L_Payne><cite>A typological grammar of Panare: A Cariban language of Venezuela</cite>, by Thomas E. Payne & Doris L. Payne</a>. <cite>International Journal of American Linguistics</cite> (<abbr title='International Journal of American Linguistics'>IJAL</abbr>) 82(3): 387–389. DOI: <a href=https://dx.doi.org/10.1086/687388>10.1086/687388</a>.</p>
      </li>

      <li id=2015d class=pub-item>
        <time datetime=2015>2015</time>
        <p><a class=link href=https://www.researchgate.net/publication/337589426_Review_of_Endangered_languages_and_new_technologies_Jones><cite>Endangered languages and new technologies</cite>, ed. by Mari C. Jones</a>. <cite>Language Documentation & Description</cite> (<abbr title='Language Documentation & Description'>LD&D</abbr>) 9: 344–350. DOI: <a href=https://dx.doi.org/10125/24669>10125/24669</a>.</p>
      </li>

      <li id=2014h class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=http://linguistlist.org/issues/26/26-542.html><cite>Languages across boundaries</cite>, ed. by Dik Bakker & Martin Haspelmath</a>. <cite>Linguist List</cite> 26(542).</p>
      </li>

      <li id=2013g class=pub-item>
        <time datetime=2013>2013</time>
        <p><a class=link href=http://linguistlist.org/issues/24/24-4963.html><cite>Canonical morphology and syntax</cite>, ed. by ed. by Dunstan Brown, Marina Chumakina, & Greville G. Corbett</a>. <cite>Linguist List</cite> 24(4963).</p>
      </li>

      <li id=2013f class=pub-item>
        <time datetime=2013>2013</time>
        <p><a class=link href=http://linguistlist.org/issues/24/24-2550.html><cite>An introduction to linguistic typology</cite>, by Viveka Velupillai</a>. <cite>Linguist List</cite> 24(2550).</p>
      </li>

      <li id=2013e class=pub-item>
        <time datetime=2013>2013</time>
        <p><a class=link href='https://journals.linguisticsociety.org/booknotices/?p=2525'><cite>A short grammar of Alorese</cite>, by Marian Klamer</a>. <cite>Language</cite> (Book Notices).</p>
      </li>

      <li id=2012i class=pub-item>
        <time datetime=2012>2012</time>
        <p><a class=link href=http://linguistlist.org/issues/23/23-2390.html><cite>Documenting endangered languages: Achievements and perspectives</cite>, ed. by Nicole Nau, Geoffrey L. J. Haig, Stefan Schnell, & Claudia Wegener</a>. <cite>Linguist List</cite> 23(2390).</p>
      </li>

      <li id=2011e class=pub-item>
        <time datetime=2011>2011</time>
        <p><a class=link href=http://linguistlist.org/issues/22/22-3129.html><cite>Handbook of descriptive linguistic fieldwork</cite>, by Shobhana L. Chelliah & Willem J. de Reuse</a>. <cite>Linguist List</cite> 23(3129).</p>
      </li>

      <li id=2011d class=pub-item>
        <time datetime=2011>2011</time>
        <p><a class=link href='https://journals.linguisticsociety.org/booknotices/?p=1510'><cite>The study of language (4<sup>th</sup> ed.)</cite>, by George Yule</a>. <cite>Language</cite> (Book Notices).</p>
      </li>

      <li id=2010f class=pub-item>
        <time datetime=2010>2010</time>
        <p><a class=link href=http://linguistlist.org/issues/21/21-4069.html><cite>The syntax of object marking in Sambaa: A comparative Bantu perspective</cite>, by Kristina Riedel</a>. <cite>Linguist List</cite> 21(4069).</p>
      </li>

      <li id=2009a class=pub-item>
        <time datetime=2009>2009</time>
        <p><a class=link href=http://linguistlist.org/issues/20/20-2673.html><cite>Dying words: Endangered languages and what they have to tell us</cite>, by Nicholas Evans</a>. <cite>Linguist List</cite> 20(2673).</p>
      </li>

    </ul>
  </section>

  <section id=unpublished class=unpublished>
    <h2 class=section-header>Unpublished Manuscripts</h2>
    <p>The following items are unpublished term papers that might contain information of interest. Note that I was still a young linguist in training when these were written, so please be a charitable reader! 🙂</p>
    <ul class=cv-list>

      <li id=2015e class=pub-item>
        <time datetime=2015>2015</time>
        <p><a class=link href=https://www.researchgate.net/publication/337589249_To_be_not_or_to_not_be_A_Behavioral_Profile_approach_to_the_semantics_of_Chitimacha_negation>To be not or to not be: A Behavioral Profile approach to the semantics of Chitimacha negation</a>. Term paper, ‘Semantics’, Prof. Stefan Th. Gries, Department of Linguistics, University of California, Santa Barbara, Winter 2015.</p>
      </li>

      <li id=2014l class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=https://www.researchgate.net/publication/337589360_Assessing_the_Chitimacha-Totozoquean_hypothesis>Assessing the Chitimacha-Totozoquean hypothesis</a>. Term paper, ‘Language & Prehistory’, Prof. Laura Robinson, Department of Linguistics, University of California, Santa Barbara, Spring 2014.</p>
      </li>

      <li id=2014k class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=https://www.researchgate.net/publication/360382618_Causativity_and_the_origin_of_the_causative_suffix_in_Chitimacha>Causativity and the origin of the causative suffix in Chitimacha</a>. Term paper, ‘Advanced Syntax’, Prof. Marianne Mithun, Department of Linguistics, University of California, Santa Barbara, Spring 2014.</p>
      </li>

      <li id=2014j class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=https://www.researchgate.net/publication/360382472_Loan_translations_in_the_US_Southeast>Loan translations in the U.S. Southeast</a>. Term paper, ‘Languages in Contact’, Prof. Marianne Mithun, Department of Linguistics, University of California, Santa Barbara, Winter 2014.</p>
      </li>

      <li id=2014i class=pub-item>
        <time datetime=2014>2014</time>
        <p><a class=link href=https://www.researchgate.net/publication/360382598_Primitivism_in_linguistics_The_Americanist_tradition_after_Boas>Primitivism in linguistics: The Americanist tradition after Boas</a>. Term paper, ‘Language as Culture’, Prof. John W. Dubois, Winter 2014.</p>
      </li>

    </ul>
  </section>

  <section id=non-linguistic class=non-linguistic>
    <h2 class=section-header>Non-Linguistic Publications</h2>
    <ul class=cv-list>
      <li id=2011f class=pub-item>
        <time datetime=2011>2011</time>
        <p><a href=https://amzn.to/3LNUyMe>Growing up</a>. In Lynn K. Talbot & Andrew Talbot Squires (eds.), <cite>Following the yellow arrow: Younger pilgrims on the Camino</cite>. Wingspan Press.</p>
        <a class=cover href=https://amzn.to/3LNUyMe>
          <img src={{ '/images/TalbotTalbot2011.jpg' | url }}>
        </a>
      </li>
    </ul>
  </section>

</main>