@import 'styles/abbreviation.less';
@import 'styles/pub-title.less';
@import 'styles/strong.less';
@import 'styles/superscript.less';
@import 'styles/transcription.less';

.publications-page {

  abbr {
    .abbr;
  }

  .additional-info {
    flex-direction: column;
    grid-area     : info;
  }

  .award::marker {
    content: '🏅';
  }

  .bulleted {
    margin-inline: var(--space-lg);
  }

  cite {
    .pub-title;
  }

  .cover {

    grid-area    : cover;
    margin-inline: var(--space-xs);

    img {
      width: 5em;
    }

  }

  .cv-list {
    flex-direction: column;
    gap           : var(--space-xs);
  }

  .first-place::marker {
    content: '🥇';
  }

  .intro {
    text-align: center;
  }

  .link::after {
    display: none;
  }

  .links {

    gap           : var(--text-inline-padding);
    grid-area     : links;
    padding-inline: var(--text-inline-padding);

    .link::before {
      content: '(';
      display: inline-block;
    }

    .link::after {
      all    : revert;  // override external link styles
      content: ')';
      display: inline-block;
    }

  }

  .location::marker {
    content: '📍';
  }

  .media {
    align-items   : center;
    flex-direction: column;
    grid-area     : media;
    justify-self  : center;
    margin        : var(--space-sm);
  }

  .new-tab {
    padding: var(--text-padding);
  }

  p {
    grid-area: citation;
    padding  : var(--text-padding);
  }

  .pub-item {
    align-items        : baseline;
    display            : grid;
    font-size          : large;
    grid-template-areas:
      'date citation cover'
      '.    links cover'
      '.    info cover'
      '.    media cover';
    grid-template-columns: 7.5em auto auto;
  }

  .second-place::marker {
    content: '🥈';
  }

  .software-list {
    font-size: large;
  }

  strong {
    .strong;
  }

  sup {
    .sup;
  }

  time {
    grid-area  : date;
    padding    : var(--text-padding);
    white-space: nowrap;
  }

}
