<ul class=cv-list>

  <li id=2016g class=cv-item>
    <time class=first-year datetime=2016>2016</time>
    <p class=citation><a class=link href=https://www.researchgate.net/publication/305218657_Review_of_A_Typological_Grammar_of_Panare_A_Cariban_Language_of_Venezuela_Thomas_E_Payne_Doris_L_Payne><cite>A typological grammar of Panare: A Cariban language of Venezuela</cite>, by Thomas E. Payne & Doris L. Payne</a>. <cite>International Journal of American Linguistics</cite> (<abbr title='International Journal of American Linguistics'>IJAL</abbr>) 82(3): 387–389. DOI: <a href=https://dx.doi.org/10.1086/687388>10.1086/687388</a>.</p>
  </li>

  <li id=2015d class=cv-item>
    <time class=first-year datetime=2015>2015</time>
    <p class=citation><a class=link href=https://www.researchgate.net/publication/337589426_Review_of_Endangered_languages_and_new_technologies_Jones><cite>Endangered languages and new technologies</cite>, ed. by Mari C. Jones</a>. <cite>Language Documentation & Description</cite> (<abbr title='Language Documentation & Description'>LD&D</abbr>) 9: 344–350. DOI: <a href=https://dx.doi.org/10125/24669>10125/24669</a>.</p>
  </li>

  <li id=2014h class=cv-item>
    <time class=first-year datetime=2014>2014</time>
    <p class=citation><a class=link href=http://linguistlist.org/issues/26/26-542.html><cite>Languages across boundaries</cite>, ed. by Dik Bakker & Martin Haspelmath</a>. <cite>Linguist List</cite> 26(542).</p>
  </li>

  <li id=2013g class=cv-item>
    <time class=first-year datetime=2013>2013</time>
    <p class=citation><a class=link href=http://linguistlist.org/issues/24/24-4963.html><cite>Canonical morphology and syntax</cite>, ed. by ed. by Dunstan Brown, Marina Chumakina, & Greville G. Corbett</a>. <cite>Linguist List</cite> 24(4963).</p>
  </li>

  <li id=2013f class=cv-item>
    <time datetime=2013>2013</time>
    <p class=citation><a class=link href=http://linguistlist.org/issues/24/24-2550.html><cite>An introduction to linguistic typology</cite>, by Viveka Velupillai</a>. <cite>Linguist List</cite> 24(2550).</p>
  </li>

  <li id=2013e class=cv-item>
    <time datetime=2013>2013</time>
    <p class=citation><a class=link href='https://journals.linguisticsociety.org/booknotices/?p=2525'><cite>A short grammar of Alorese</cite>, by Marian Klamer</a>. <cite>Language</cite> (Book Notices).</p>
  </li>

  <li id=2012i class=cv-item>
    <time class=first-year datetime=2012>2012</time>
    <p class=citation><a class=link href=http://linguistlist.org/issues/23/23-2390.html><cite>Documenting endangered languages: Achievements and perspectives</cite>, ed. by Nicole Nau, Geoffrey L. J. Haig, Stefan Schnell, & Claudia Wegener</a>. <cite>Linguist List</cite> 23(2390).</p>
  </li>

  <li id=2011e class=cv-item>
    <time class=first-year datetime=2011>2011</time>
    <p class=citation><a class=link href=http://linguistlist.org/issues/22/22-3129.html><cite>Handbook of descriptive linguistic fieldwork</cite>, by Shobhana L. Chelliah & Willem J. de Reuse</a>. <cite>Linguist List</cite> 23(3129).</p>
  </li>

  <li id=2011d class=cv-item>
    <time datetime=2011>2011</time>
    <p class=citation><a class=link href='https://journals.linguisticsociety.org/booknotices/?p=1510'><cite>The study of language (4<sup>th</sup> ed.)</cite>, by George Yule</a>. <cite>Language</cite> (Book Notices).</p>
  </li>

  <li id=2010f class=cv-item>
    <time class=first-year datetime=2010>2010</time>
    <p class=citation><a class=link href=http://linguistlist.org/issues/21/21-4069.html><cite>The syntax of object marking in Sambaa: A comparative Bantu perspective</cite>, by Kristina Riedel</a>. <cite>Linguist List</cite> 21(4069).</p>
  </li>

  <li id=2009a class=cv-item>
    <time class=first-year datetime=2009>2009</time>
    <p class=citation><a class=link href=http://linguistlist.org/issues/20/20-2673.html><cite>Dying words: Endangered languages and what they have to tell us</cite>, by Nicholas Evans</a>. <cite>Linguist List</cite> 20(2673).</p>
  </li>

</ul>