<ul class=cv-list>

  <li id=2020c class=cv-item>
    <time class=first-year datetime=2020>2020</time>
    <p class=citation><strong>Rosetta Stone Luiseño (<span class=txn lang=lui>Chamtéela</span>)</strong>. Assistant Editor.</p>
  </li>

  <li id=2012e class=cv-item>
    <time class=first-year datetime=2012>2012</time>
    <p class=citation><strong>Rosetta Stone Iñupiaq (<span class=txn lang=esi>Iñupiatun</span>)</strong>. Editor.</p>
  </li>

  <li id=2010d class=cv-item>
    <time class=first-year datetime=2010>2010</time>
    <p class=citation><a href=https://navajorenaissance.org/orderwpp.html><strong>Rosetta Stone Navajo (<span class=txn lang=nav>Diné bizaad</span>)</strong></a>. Editor.</p>
  </li>

  <li id=2010c class=cv-item>
    <time datetime=2010>2010</time>
    <p class=citation><strong>Rosetta Stone Chitimacha (<span class=txn lang=ctm>Sitimaxa</span>)</strong>. Editor.</p>
  </li>

</ul>