<ul class=cv-list>

  <li id=2021a class=cv-item>
    <time class=first-year datetime=2021>2021</time>
    <p class=citation><cite><a class=link href=https://www.researchgate.net/publication/353597964_Lexical_polyfunctionality_in_discourse_A_quantitative_corpus-based_approach>Lexical polyfunctionality in discourse: A quantitative corpus-based approach</a></cite>. Ph.D. dissertation, Department of Linguistics, University of California, Santa Barbara. Chair: Prof. Marianne Mithun. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.11932.00640>10.13140/RG.2.2.11932.00640</a>.</p>
  </li>

  <li id=2016a class=cv-item>
    <time class=first-year datetime=2016>2016</time>
    <p class=citation><cite><a class=link href=https://www.researchgate.net/publication/337590690_The_cohesive_function_of_prosody_in_Ekegusii_Kisii_narratives_A_functional-typological_approach>The cohesive function of prosody in Ékegusií (Kisii) narratives: A functional-typological approach</a></cite>. M.A. thesis, Department of Linguistics, University of California, Santa Barbara. Chair: Prof. Carol Genetti. DOI: <a class='link subtle' href=https://doi.org/10.13140/RG.2.2.17818.18886>10.13140/RG.2.2.17818.18886</a>.</p>
  </li>

</ul>