<ul class=cv-list>

  <li id=2015e class=cv-item>
    <time class=first-year datetime=2015>2015</time>
    <p class=citation><a class=link href=https://www.researchgate.net/publication/337589249_To_be_not_or_to_not_be_A_Behavioral_Profile_approach_to_the_semantics_of_Chitimacha_negation>To be not or to not be: A Behavioral Profile approach to the semantics of Chitimacha negation</a>. Term paper, ‘Semantics’, Prof. Stefan Th. Gries, Department of Linguistics, University of California, Santa Barbara, Winter 2015.</p>
  </li>

  <li id=2014l class=cv-item>
    <time class=first-year datetime=2014>2014</time>
    <p class=citation><a class=link href=https://www.researchgate.net/publication/337589360_Assessing_the_Chitimacha-Totozoquean_hypothesis>Assessing the Chitimacha-Totozoquean hypothesis</a>. Term paper, ‘Language & Prehistory’, Prof. Laura Robinson, Department of Linguistics, University of California, Santa Barbara, Spring 2014.</p>
  </li>

  <li id=2014k class=cv-item>
    <time datetime=2014>2014</time>
    <p class=citation><a class=link href=https://www.researchgate.net/publication/360382618_Causativity_and_the_origin_of_the_causative_suffix_in_Chitimacha>Causativity and the origin of the causative suffix in Chitimacha</a>. Term paper, ‘Advanced Syntax’, Prof. Marianne Mithun, Department of Linguistics, University of California, Santa Barbara, Spring 2014.</p>
  </li>

  <li id=2014j class=cv-item>
    <time datetime=2014>2014</time>
    <p class=citation><a class=link href=https://www.researchgate.net/publication/360382472_Loan_translations_in_the_US_Southeast>Loan translations in the U.S. Southeast</a>. Term paper, ‘Languages in Contact’, Prof. Marianne Mithun, Department of Linguistics, University of California, Santa Barbara, Winter 2014.</p>
  </li>

  <li id=2014i class=cv-item>
    <time datetime=2014>2014</time>
    <p class=citation><a class=link href=https://www.researchgate.net/publication/360382598_Primitivism_in_linguistics_The_Americanist_tradition_after_Boas>Primitivism in linguistics: The Americanist tradition after Boas</a>. Term paper, ‘Language as Culture’, Prof. John W. Dubois, Winter 2014.</p>
  </li>

</ul>