<ul class='bulleted software-list'>
  <li><a class=link href=https://format.digitallinguistics.io>The Data Format for Digital Linguistics</a> (<abbr class=abbr title='Data Format for Digital Linguistics'>DaFoDiL</abbr>): A standard JSON format for storing and exchanging linguistic data on the web.</li>
  <li><a class=link href=https://scription.digitallinguistics.io>Scription</a>: A standard for writing interlinear glosses that are computer-parseable, while adhering to the same conventions linguists are already using (especially the Leipzig Glossing Rules).</li>
  <li><a class=link href=https://github.com/digitallinguistics/scription2dlx>scription2dlx</a>: A JavaScript library for converting data in Scription format to JSON.</li>
  <li><a class=link href=https://github.com/digitallinguistics/transliterate>transliterate</a>: A JavaScript library for transliterating strings between different orthographies.</li>
  <li><a class=link href=https://github.com/digitallinguistics/styles>styles</a>: CSS styles for formatting linguistic data on the web.</li>
  <li><a class=link href=https://github.com/digitallinguistics/word-aligner>word-aligner</a>: A JavaScript library for vertically aligning interlinear glosses.</li>
</ul>

