// Globals
@import 'node_modules/flexbox-reset/flexbox-reset.less';
@import 'fonts/fonts.less';
@import 'styles/spacing.less';
@import 'styles/typography.less';
@import 'styles/utilities.less';

:focus {
  // focus styles should always have the highest z-index
  z-index: 9999;
}

body {
  box-sizing     : border-box;
  flex-direction : column;
  font-family    : var(--font);
  line-height    : 1.5;
  min-block-size : 100vh;
  min-inline-size: 100vw;
}

main {
  flex-grow: 1;
}
