<!DOCTYPE html>
<html lang='en'>
{% include './components/head.njk' %}
<body>
  {% include './components/skip-link/skip-link.njk' %}
  {% include './components/banner/banner.njk' %}
  {% include './components/nav.njk' %}
  {{ content | safe }}
  {% include './components/footer.njk' %}
</body>
</html>