<footer class=footer>
  <span class=copyright>© 2016–{{ year }} Daniel W. Hieber</span>
  <div class=github>
    <a class=icon-link href=https://github.com/dwhieb/danielhieber.info>
      <span class=sr-text>GitHub</span>
      <svg role="presentation" focusable="false"><use href=#GitHub></svg>
    </a>
    <a class='link text-link' href=https://github.com/dwhieb/danielhieber.info>View source on GitHub</a>
  </div>
  <div class=social>
    <span class=social-header>Let’s connect!</span>
    {% include 'social-icons.njk' %}
  </div>
</footer>