<footer class=footer>
  <span class=copyright>© 2016–{{ year }} Daniel W. Hieber</span>
  <div class=github>
    <a class=icon-link href=https://github.com/dwhieb/danielhieber.info>
      <span class=sr-text>GitHub</span>
      <svg role="presentation" focusable="false"><use href=#GitHub></svg>
    </a>
    <a class='link text-link' href=https://github.com/dwhieb/danielhieber.info>View source on GitHub</a>
  </div>
  <div class=social>
    <span>Let’s connect!</span>
    <ul>
      <li>
        <a href='https://twitter.com/dwhieb'>
          <span class=sr-text>Twitter</span>
          <svg role="presentation" focusable="false"><use href=#Twitter></svg>
        </a>
      </li>
      <li>
        <a href='https://www.researchgate.net/profile/Daniel-Hieber'>
          <span class=sr-text>Research Gate</span>
          <svg role="presentation" focusable="false"><use href=#ResearchGate></svg>
        </a>
      </li>
      <li>
        <a href='https://independent.academia.edu/DanielHieber'>
          <span class=sr-text>Academia.edu</span>
          <svg class=academia><use href=#Academia></svg>
        </a>
      </li>
      <li>
        <a href='https://github.com/dwhieb'>
          <span class=sr-text>GitHub</span>
          <svg role="presentation" focusable="false"><use href=#GitHub></svg>
        </a>
      </li>
      <li>
        <a href='https://www.linkedin.com/in/dhieber/'>
          <span class=sr-text>LinkedIn</span>
          <svg role="presentation" focusable="false"><use href=#LinkedIn></svg>
        </a>
      </li>
      <li>
        <a href='https://orcid.org/0000-0002-1411-3773'>
          <span class=sr-text>ORCID</span>
          <svg role="presentation" focusable="false"><use href=#ORCID></svg>
        </a>
      </li>
      <li>
        <a href='https://scholar.google.com/citations?user=szOfkaoAAAAJ'>
          <span class=sr-text>Google Scholar</span>
          <svg role="presentation" focusable="false"><use href=#Google-Scholar></svg>
        </a>
      </li>
      <li>
        <a href='https://facebook.com/dwhieb'>
          <span class=sr-text>Facebook</span>
          <svg role="presentation" focusable="false"><use href=#Facebook></svg>
        </a>
      </li>
    </ul>
  </div>
</footer>