// stylelint-disable font-weight-notation

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Hair'),
    url(fonts/FiraSans/FiraSans-Hair.woff2) format('woff2');
  font-style : normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Hair Italic'),
    url(fonts/FiraSans/FiraSans-HairItalic.woff2) format('woff2');
  font-style : italic;
  font-weight: 100;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Extra Light'),
    url(fonts/FiraSans/FiraSans-ExtraLight.woff2) format('woff2');
  font-style : normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Extra Light Italic'),
    url(fonts/FiraSans/FiraSans-ExtraLightItalic.woff2) format('woff2');
  font-style : italic;
  font-weight: 200;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Light'),
    url(fonts/FiraSans/FiraSans-Light.woff2) format('woff2');
  font-style : normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Light Italic'),
    url(fonts/FiraSans/FiraSans-LightItalic.woff2) format('woff2');
  font-style : italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Regular'),
    url(fonts/FiraSans/FiraSans-Regular.woff2) format('woff2');
  font-style : normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Italic'),
    url(fonts/FiraSans/FiraSans-Italic.woff2) format('woff2');
  font-style : italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Medium'),
    url(fonts/FiraSans/FiraSans-Medium.woff2) format('woff2');
  font-style : normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Medium Italic'),
    url(fonts/FiraSans/FiraSans-MediumItalic.woff2) format('woff2');
  font-style : italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans SemiBold'),
    url(fonts/FiraSans/FiraSans-SemiBold.woff2) format('woff2');
  font-style : normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans SemiBold Italic'),
    url(fonts/FiraSans/FiraSans-SemiBoldItalic.woff2) format('woff2');
  font-style : italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Bold'),
    url(fonts/FiraSans/FiraSans-Bold.woff2) format('woff2');
  font-style : normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Bold Italic'),
    url(fonts/FiraSans/FiraSans-BoldItalic.woff2) format('woff2');
  font-style : italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Extra Bold'),
    url(fonts/FiraSans/FiraSans-ExtraBold.woff2) format('woff2');
  font-style : normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Extra Bold Italic'),
    url(fonts/FiraSans/FiraSans-ExtraBoldItalic.woff2) format('woff2');
  font-style : italic;
  font-weight: 800;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Heavy'),
    url(fonts/FiraSans/FiraSans-Heavy.woff2) format('woff2');
  font-style : normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Heavy Italic'),
    url(fonts/FiraSans/FiraSans-HeavyItalic.woff2) format('woff2');
  font-style : italic;
  font-weight: 900;
}
