---
title      : Curriculum Vitae
permalink  : /cv/
---

{% set less %}
  {% include './CV.less' %}
{% endset %}

<style>
  {{ less | css | safe }}
</style>

<main id=main class=cv-page>

  <h1 class=page-title>Curriculum Vitae</h1>

  <p class=intro>A list of my publications and presentations can be viewed on the <a class=link href=/publications>Publications page</a>.</p>

  <p class=intro>A list of my media appearances can be viewed on the <a class=link href=https://linguisticdiscovery.com/media rel=noopener target=_blank>Media page</a>.</p>

  {% include './Education.njk' %}
  {% include './Work.njk' %}
  {% include './Teaching.njk' %}
  {% include './Awards.njk' %}
  {% include './Service.njk' %}
  {% include './Memberships.njk' %}
  {% include './Fieldwork.njk' %}
  {% include './Languages.njk' %}
  {% include './Programming.njk' %}

</main>