---
title      : Curriculum Vitae
permalink  : /cv/
---

{% set less %}
  {% include './CV.less' %}
{% endset %}

<style>
  {{ less | css | safe }}
</style>

<main id=main class=cv-page>

  <h1 class=page-title>Curriculum Vitae</h1>

  <p class=intro>A list of my publications and presentations can be viewed on the <a class=link href=/publications>Publications page</a>.</p>

  <p class=intro>A list of my media appearances can be viewed on the <a class=link href=https://linguisticdiscovery.com/media rel=noopener target=_blank>Media page</a>.</p>

  <section id=education class=education>
    <h2 class=section-header>Education</h2>
    <ul class=cv-list>

      <li class=cv-item>
        <time datetime=2021>2021</time>
        <p class=citation><strong>Ph.D. in Linguistics, University of California, Santa Barbara</strong></p>
        <ul class='additional-info bulleted'>
          <li>dissertation: <cite><a class='link subtle' href=https://www.researchgate.net/publication/353597964_Lexical_polyfunctionality_in_discourse_A_quantitative_corpus-based_approach>Lexical polyfunctionality in discourse: A quantitative corpus-based approach</a></cite></li>
          <li>advisor: Marianne Mithun</li>
        </ul>
      </li>

      <li class=cv-item>
        <time datetime=2016>2016</time>
        <p class=citation><strong>M.A. in Linguistics, University of California, Santa Barbara</strong></p>
        <ul class='additional-info bulleted'>
          <li>thesis: <cite><a class='link subtle' href=https://www.researchgate.net/publication/337590690_The_cohesive_function_of_prosody_in_Ekegusii_Kisii_narratives_A_functional-typological_approach>The cohesive function of prosody in Ékegusií (Kisii) narratives: A functional-typological approach</a></cite></li>
          <li>advisor: Carol Genetti</li>
        </ul>
      </li>

      <li class=cv-item>
        <time datetime=2011>2011</time>
        <p class=citation><strong>LSA Linguistic Institute</strong> (Boulder, CO)</p>
      </li>

      <li class=cv-item>
        <time datetime=2008>2008</time>
        <p class=citation><strong>B.A. in Linguistics & Philosophy, College of William & Mary</strong></p>
        <ul class='additional-info bulleted'>
          <li>double major, <span class=foreign lang=lat>magna cum laude</span></li>
        </ul>
      </li>

      <li class=cv-item>
        <time datetime=2007>2007</time>
        <p class=citation><strong>School for International Training (<abbr title='School for International Training'>SIT</abbr>)</strong> (Nairobi, Kenya)</p>
        <ul class='additional-info bulleted'>
          <li>program: Development, Health, & Society</li>
          <li>independent research project: <cite>Language change and variation in Mombasa: Recent trends in Kimvita Swahili</cite></li>
        </ul>
      </li>

      <li class=cv-item>
        <time datetime=2006>2006</time>
        <p class=citation><strong>School for International Training (<abbr title='School for International Training'>SIT</abbr>)</strong> (Mombasa, Kenya)</p>
        <ul class='additional-info bulleted'>
          <li>program: Swahili Studies & Coastal Cultures</li>
          <li>independent research project: <cite>What’s in a word? Code-switching in Mombasa Swahili</cite></li>
        </ul>
      </li>

    </ul>
  </section>

  <section id=work class=work>
    <h2 class=section-header>Work Experience</h2>
    <ul class=cv-list>

      <li class=cv-item>
        <time datetime=2022>2022–present</time>
        <p class=citation><strong class=title>Linguist</strong>, Chitimacha Tribe of Louisiana</p>
      </li>

      <li class=cv-item>
        <time datetime=2022>2021–2022</time>
        <p class=citation><strong class=title>Postdoctoral Fellow</strong>, University of Alberta Language Technology Lab (<abbr title='Alberta Language Technology Lab'>ALTLab</abbr>)</p>
      </li>

      <li class=cv-item>
        <time datetime=2020>2018–2020</time>
        <p class=citation><strong class=title>Assistant Editor</strong>, Custom Languages, Rosetta Stone</p>
      </li>

      <li class=cv-item>
        <time datetime=2020>2014–2020</time>
        <p class=citation><strong class=title>Teaching Assistant</strong>, Department of Linguistics, Univesrity of California, Santa Barbara</p>
      </li>

      <li class=cv-item>
        <time datetime=2015>2014–2015</time>
        <p class=citation><strong class=title>Research Assistant</strong>, Prof. Carol Genetti, University of California, Santa Barbara</p>
      </li>

      <li class=cv-item>
        <time datetime=2013>2012–2013</time>
        <p class=citation><strong class=title>Editor</strong>, Commercial Languages, Rosetta Stone</p>
      </li>

      <li class=cv-item>
        <time datetime=2012>2011–2012</time>
        <p class=citation><strong class=title>Associate Researcher</strong>, Research Labs, Rosetta Stone</p>
      </li>

      <li class=cv-item>
        <time datetime=2011>2008–2011</time>
        <p class=citation><strong class=title>Editor</strong>, Endangered Language Program, Rosetta Stone</p>
      </li>

      <li class=cv-item>
        <time datetime=2008>2007–2008</time>
        <p class=citation><strong class=title>Intern</strong>, Endangered Language Program, Rosetta Stone</p>
      </li>

      <li class=cv-item>
        <time datetime=2006>2006</time>
        <p class=citation><strong class=title>Spanish Instructor</strong>, Nielsen Builders</p>
      </li>

      <li class=cv-item>
        <time datetime=2006>2004–2006</time>
        <p class=citation><strong class=title>Lab Assistant</strong>, Language Lab, College of William & Mary</p>
      </li>

      <li class=cv-item>
        <time datetime=2004>2002–2004</time>
        <p class=citation><strong class=title>Latin Instructor</strong>, Bridgewater Home School Unit</p>
      </li>

    </ul>
  </section>

  <section id=awards class=awards>
    <h2 class=section-header>Awards & Honors</h2>
    <ul class=cv-list>

      <li class=cv-item>
        <time datetime=2020>2020</time>
        <p class=citation><a href=https://www.neh.gov/grants/preservation/documenting-endangered-languages class=link>Documenting Endangered Languages (<abbr title='Documenting Endangered Languages'>DEL</abbr>) Grant</a>, National Science Foundation (<abbr title='National Science Foundation'>NSF</abbr>) / National Endowment for the Humanities (<abbr title='National Endowment for the Humanities'>NEH</abbr>)</p>
        <dl class='additional-info def-list'>

          <dt>Principal Investigator</dt>
          <dd>Monica Macaulay (University of Wisconsin-Madison)</dd>

          <dt>My Contribution</dt>
          <dd>Data Management Plan, Lead Developer</dd>

          <dt>Title</dt>
          <dd><cite><a class='link subtle' href='https://www.nsf.gov/awardsearch/showAward?AWD_ID=1953103&HistoricalAwards=false'>Comparative database of the derivational morphology of a language family</a></cite></dd>

          <dt>Amount</dt>
          <dd>$324,209</dd>

          <dt>Description</dt>
          <dd>A database of morphological components in Algonquian languages.</dd>

          <dt>Grant ID</dt>
          <dd><a class='link subtle' href='https://www.nsf.gov/awardsearch/showAward?AWD_ID=1953103&HistoricalAwards=false'>1953103</a></dd>

        </dl>
      </li>

      <li class=cv-item>
        <time datetime=2019>2019</time>
        <p class=citation><strong>Best Student Presentation Award</strong>, Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>)</p>
        <dl class='additional-info def-list'>
          <dt>Purpose</dt>
          <dd>For my talk, <a class='link subtle' href=https://www.researchgate.net/publication/337590787_Ergativity_in_Chitimacha>‘Ergativity in Chitimacha’</a>, presented at SSILA 2019, New York City, January 3–6.</dd>
        </dl>
      </li>

      <li class=cv-item>
        <time datetime=2018>2018</time>
        <p class=citation><strong>Doctoral Student Travel Grant</strong>, University of California, Santa Barbara</p>
        <dl class='additional-info def-list'>

          <dt>Purpose</dt>
          <dd>Attendance at the Linguistic Society of America Annual Conference.</dd>

          <dt>Amount</dt>
          <dd>$900</dd>

        </dl>
      </li>

      <li class=cv-item>
        <time datetime=2015>2015</time>
        <p class=citation><a class=link href=https://www.nsfgrfp.org>Graduate Research Fellowship Program</a> (<abbr title='Graduate Research Fellowship Program'>GRFP</abbr>), National Science Foundation (<abbr title='National Science Foundation'>NSF</abbr>)</p>
        <dl class='additional-info def-list'>

          <dt>Purpose</dt>
          <dd>Dissertation research on the typology of lexical categories.</dd>

          <dt>Amount</dt>
          <dd>$34,000 stipend + $12,000 tuition remission per year x 3 years</dd>

          <dt>Grant ID</dt>
          <dd>1144085</dd>

        </dl>
      </li>

      <li class=cv-item>
        <time datetime=2015>2015</time>
        <p class=citation><strong>2<sup>nd</sup> Place</strong>, University of California Grad Slam</p>
        <dl class='additional-info def-list'>

          <dt>Purpose</dt>
          <dd>UC-wide competition for the best 3-minute research talk by a graduate student.</dd>

          <dt>Title</dt>
          <li><a class='link subtle' href='https://youtu.be/QrNOHKjA2q4?t=2812'>Renaissance on the bayou: Revitalizing the Chitimacha language</a></li>

          <dt>Amount</dt>
          <dd>$3,000 prize</dd>

        </dl>
      </li>

      <li class=cv-item>
        <time datetime=2015>2015</time>
        <p class=citation><strong>1<sup>st</sup> Place</strong>, University of California, Santa Barbara Grad Slam</p>
        <dl class='additional-info def-list'>

          <dt>Purpose</dt>
          <dd>Campus-wide competition for the best 3-minute research talk by a graduate student.</dd>

          <dt>Title</dt>
          <li><a class='link subtle' href=https://youtu.be/Md7Wku6nGoE>Renaissance on the bayou: Revitalizing the Chitimacha language</a></li>

          <dt>Amount</dt>
          <dd>$5,000 prize</dd>

        </dl>
      </li>

      <li class=cv-item>
        <time datetime=2014>2014</time>
        <p class=citation><strong>LSA CoLang Scholarship</strong></p>
        <dl class='additional-info def-list'>

          <dt>Purpose</dt>
          <dd>For attendence at the 2014 Institute on Collaborative Language Research (<abbr title='Institute on Collaborative Language Research'>CoLang</abbr>).</dd>

          <dt>Amount</dt>
          <dd>$375 towards registration costs</dd>

        </dl>
      </li>

      <li class=cv-item>
        <time datetime=2014>2014</time>
        <p class=citation><strong>Honorable Mention, <a class=link href=https://www.nsfgrfp.org>Graduate Research Fellowship Program</a> (<abbr title='Graduate Research Fellowship Program'>GRFP</abbr>)</strong>, National Science Foundation (<abbr title='National Science Foundation'>NSF</abbr>)</p>
      </li>

      <li class=cv-item>
        <time datetime=2013>2013</time>
        <p class=citation><strong>Chancellor’s Fellowship</strong>, University of California, Santa Barbara</p>
        <dl class='additional-info def-list'>

          <dt>Purpose</dt>
          <dd>Central campus fellowship to attend the M.A./Ph.D. program in linguistics at the University of California, Santa Barbara.</dd>

          <dt>Amount</dt>
          <dd>$24,000/yr. x 3 yrs., plus $5,000 summer research funding in the first year</dd>

        </dl>
      </li>

      <li class=cv-item>
        <time datetime=2006>2006</time>
        <p class=citation><a class=link href=https://www.borenawards.org/>Boren Scholarship</a>, National Security Education Program (<abbr title='National Security Education Program'>NSEP</abbr>)</p>
        <dl class='additional-info def-list'>

          <dt>Purpose</dt>
          <dd>For study abroad in Kenya. (Was unable to use this scholarship because a travel warning made the funds unusable in Kenya at the time.)</dd>

          <dt>Amount</dt>
          <dd>$20,000 over 2 semesters</dd>

        </dl>
      </li>

      <li class=cv-item>
        <time datetime=2004>2004</time>
        <p class=citation><strong>Excellence in Language Scholarship</strong>, Turner Ashby High School</p>
        <dl class='additional-info def-list'>

          <dt>Purpose</dt>
          <dd>For outstanding academic performance in foreign languages.</dd>

          <dt>Amount</dt>
          <dd>$500 towards college tuition</dd>

        </dl>
      </li>

    </ul>
  </section>

  <section id=teaching class=teaching>
    <h2 class=section-header>Teaching</h2>
    <p class='centered intro'>Click the name of a course for additional details.</p>
    <ul class=cv-list>

      <li>
        <details>
          <summary>
            <p><strong>Language, Race, & Ethnicity</strong> (Teaching Assistant, University of California, Santa Barbara)</p>
          </summary>
          <p>Linguistic practices of major ethnoracial groups in the United States, including African Americans, Asian Americans, European Americans, Latinos, and Native Americans; examination of the linguistic effects of immigration and colonialism; bilingualism, code switching, style shifting, language shift, and heritage language learning; linguistic interaction and contact between ethnoracial groups; language as a resource for ethnoracial identity; linguistic racism; linguistic activism.</p>
          <ul class=bulleted>
            <li>Fall 2020 (2 sections)</li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>
            <p><strong>Language & Life</strong> (Teaching Assistant, University of California, Santa Barbara)</p>
          </summary>
          <p>The diversity and history of languages; their norms, conventions, and written traditions; the role of language in culture and identity; language rights and multilingualism, and the implications of technology for language use. Focused especially on linguistics as a science and the scientific method, as well as natural vs. artificial languages.</p>
          <ul class=bulleted>
            <li>Spring 2017 (2 sections)</li>
            <li>Spring 2016 (2 sections)</li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>
            <p><strong>Introduction to Language & Linguistics</strong> (Teaching Assistant, University of California, Santa Barbara)</p>
          </summary>
          <p>Introduction to the scientific study of language: The sounds of language; word and sentence structure; semantics and pragmatics; discourse and conversational speech; the social and cultural functions of language; language change and the reconstruction of languages at earlier stages.</p>
          <ul class=bulleted>
            <li>Summer 2014 (1 section)</li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>
            <p><strong>Phonetics</strong> (Teaching Assistant, University of California, Santa Barbara)</p>
          </summary>
          <p>An introduction to the articulatory and acoustic properties of speech sounds. Survey of speech sounds found in the languages of the world. Emphasis on ear training and transcription using the International Phonetic Alphabet.</p>
          <ul class=bulleted>
            <li>Fall 2017 (2 sections)</li>
          </ul>
        </details>
      </li>

    </ul>
  </section>

  <section id=service class=service>

    <h2 class=section-header>Professional Service</h2>

    <section>
      <h3 class=subsection-header>Extramural Service</h3>
      <ul class=cv-list>

        <li class=cv-item>
          <time>2013–2020</time>
          <p><strong>Webmaster</strong>, Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>)</p>
        </li>

        <li class=cv-item>
          <time>2015–2017</time>
          <p><strong>Advisory Council Member</strong>, Institute for Collaborative Language Documentation</p>
        </li>

        <li class=cv-item>
          <time>2011–2014</time>
          <p><strong>Webmaster</strong>, Linguistic Society of America (<abbr title='Linguistic Society of America'>LSA</abbr>) Committee on Endangered Languages and their Preservation (<abbr title='Committee on Endangered Languages and their Preservation'>CELP</abbr>)</p>
        </li>

      </ul>
    </section>

    <section>
      <h3 class=subsection-header>Reviewing</h3>
      <p class=intro>I have reviewed for the following publications, presses, and organizations, as well as miscellaneous chapters in various edited volumes.</p>
      <ul class='bulleted cv-list'>
        <li><a class='link subtle' href=http://www.endangeredlanguagefund.org>Endangered Language Fund</a> (<abbr title='Endangered Language Fund'>ELF</abbr>)</li>
        <li><a class='link subtle' href=https://langsci-press.org>Language Science Press</a> (proofreader)</li>
        <li><cite><a class='link subtle' href=http://libertarianpapers.org>Libertarian Papers</a></cite></li>
        <li><cite><a class='link subtle' href=https://typologyatcrossroads.unibo.it>Linguistic Typology at the Crossroads</a></cite> (<abbr title='Linguistic Typology at the Crossroads'>LTC</abbr>)</li>
        <li><abbr title='National Science Foundation'>NSF</abbr> / <abbr title='National Endowment for the Humanities'>NEH</abbr> <a class='link subtle' href=https://www.neh.gov/program/dli-del-fellowships>Documenting Endangered Languages Program</a></li>
        <li><cite><a class='link subtle' href=https://algonquianconference.atlas-ling.ca>Proceedings of the Algonquian Conference</a></cite></li>
        <li><a class='link subtle'href=https://www.ssila.org>Society for the Study of the Indigenous Languages of the Americas</a> (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>)</li>
      </ul>
    </section>

  </section>

  <section id=memberships class=memberships>
    <h2 class=section-header>Professional Memberships</h2>
    <ul class=cv-list>

      <li class=cv-item>
        <time>2008–present</time>
        <p><strong>Association for Linguistic Typology (<abbr title='Association for Linguistic Typology'>ALT</abbr>)</strong></p>
      </li>

      <li class=cv-item>
        <time>2008–present</time>
        <p><strong>Foundation for Endangered Languages (<abbr title='Foundation for Endangered Languages'>FEL</abbr>)</strong></p>
      </li>

      <li class=cv-item>
        <time>2008–present</time>
        <p><strong>Linguistic Society of America (<abbr title='Linguistic Society of America'>LSA</abbr>)</strong></p>
      </li>

      <li class=cv-item>
        <time>2008–present</time>
        <p><strong>Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>)</strong></p>
      </li>

      <li class=cv-item>
        <time>2013–2021</time>
        <p><strong>Association of Contemporary African Linguistics (<abbr title='Association of Contemporary African Linguistics'>ACAL</abbr>)</strong></p>
      </li>

    </ul>
  </section>

  <section id=fieldwork class=fieldwork>
    <h2 class=section-header>Fieldwork & Descriptive Work</h2>
    <ul class=cv-list>

      <li class=cv-item>
        <time>2008–present</time>
        <p><strong>Chitimacha (<span class=txn lang=ctm>Sitimaxa</span>)</strong>, Chitimacha Tribal Reservation, Charenton, LA</p>
        <p class=additional-info>Ongoing preparation of a Chitimacha dictionary, text collection, and grammar based on archival sources. Completed Rosetta Stone language-learning software for the language in 2010.</p>
      </li>

      <li class=cv-item>
        <time>2015–2017</time>
        <p><strong>Tlahuapa Mixtec (<span class=txn lang=jmx>Tuʼun Ndáʼbi</span>)</strong>, Santa Barbara, CA</p>
        <p class=additional-info>One-year graduate-level field methods class taught by Prof. Eric Campbell, followed by work compiling a lexical database.</p>
      </li>

      <li class=cv-item>
        <time>2014</time>
        <p><strong>Gusii (<span class=txn lang=guz>Ékegusií</span>)</strong>, Kisii, Kenya</p>
        <p class=additional-info>Two months of fieldwork in a rural community near Kisii Town in southwestern Kenya, recording conversation, traditional songs, and folktales.</p>
      </li>

      <li class=cv-item>
        <time>2014</time>
        <p><strong>North Slope Iñupiaq (<span class=txn lang=esi>Iñupiatun</span>)</strong>, Anchorage, AK</p>
        <p class=additional-info>Two weeks of elicitation with a native speaker of the Point Hope dialect.</p>
      </li>

      <li class=cv-item>
        <time>2009–2011</time>
        <p><strong>North Slope Iñupiaq (<span class=txn lang=esi>Iñupiatun</span>)</strong>, remote</p>
        <p class=additional-info>Daily online elicitation sessions for the purpose of creating Rosetta Stone language-learning software.</p>
      </li>

      <li class=cv-item>
        <time>2008–2010</time>
        <p><strong>Navajo (<span class=txn lang=nav>Diné bizaad</span>)</strong>, Navajo Nation + remote</p>
        <p class=additional-info>Daily elicitation sessions for the purpose of creating Rosetta Stone language-learning software. Included both remote fieldwork and numerous field visits, generally for 2 weeks at a time.</p>
      </li>

      <li class=cv-item>
        <time>2007</time>
        <p><strong>Turkish (<span class=txn lang=tur>Türkçe</span>)</strong>, Williamsburg, VA</p>
        <p class=additional-info>A one-semester undergraduate descriptive linguistics / field methods course.</p>
      </li>

      <li class=cv-item>
        <time>2006–2007</time>
        <p><strong>Kimvita Swahili (<span class=txn lang=swa>Kimvita</span>)</strong>, Mombasa, Kenya & Nairobi, Kenya</p>
        <p class=additional-info>Two semesters researching language shift and endangerment in the Kimvita (Mombasa) dialect of Swahili. Worked primarily with youth speakers collecting and analyzing texts.</p>
      </li>

    </ul>
  </section>

  <section id=languages class=languages>
    <h2 class=section-header>Languages Spoken & Studied</h2>
    {% md %}

Name | Autonym | Glottocode | ISO 639-3 Code | Proficiency
---- | ------- | ---------- | -------------- | -----------
Chitimacha | Sitimaxa { .txn lang=ctm } | `chit1248` | `ctm` | structural knowledge
Cree | nêhiyawêwin { .txn lang=cre } | `cree1272` | `cre` | structural knowledge
French | français { .txn lang=fra } | `stan1290` | `fra` | beginner
Gusii | Ékegusií { .txn lang=guz } | `gusi1247` | `guz` | structural knowledge
Iñupiaq | Iñupiatun { .txn lang=esi } | `nort2944` | `esi` | structural knowledge
Latin | lingua Latina { .txn lang=lat } | `lati1261` | `lat` | intermediate
Mohawk | Kanienʼkéha { .txn lang=moh } | `moha1258` | `moh` | structural knowledge
Navajo | Diné bizaad { .txn lang=nav } | `nava1243` | `nav` | structural knowledge
Luiseño | Chamtéela { .txn lang=lui } | `luis1254` | `lui` | structural knowledge
Spanish | español { .txn lang=spa } | `stan1288` | `spa` | advanced
Swahili | Kiswahili { .txn lang=swh } | `swah1253` | `swh` | advanced

    {% endmd %}
  </section>

  <section id=programming class=programming>

    <h2 class=section-header>Software Skills & Proficiencies</h2>

    <section>
      <h3 class=subsection-header>Skills</h3>
      <ul class=bulleted>
        <li>Database Management & Design</li>
        <li>Open Source Project Management</li>
        <li>Progressive Web Apps (PWAs)</li>
        <li>Text Processing</li>
        <li>Web App Development (full stack)</li>
      </ul>
    </section>

    <section>
      <h3 class=subsection-header>Programming Languages</h3>
      <ul class=bulleted>
        <li>CSS (and preprocessors / postprocessors)</li>
        <li>HTML (and various templating languages)</li>
        <li>LaTeX</li>
        <li>JavaScript / Node</li>
        <li>Praat scripting</li>
        <li>R</li>
        <li>SQL</li>
      </ul>
    </section>

  </section>

</main>