<section id=fieldwork class=fieldwork>
  <h2 class=section-header>Fieldwork & Descriptive Work</h2>
  <ul class=cv-list>

    <li class=cv-item>
      <time>2008–present</time>
      <p><strong>Chitimacha (<span class=txn lang=ctm>Sitimaxa</span>)</strong>, Chitimacha Tribal Reservation, Charenton, LA</p>
      <p class=additional-info>Ongoing preparation of a Chitimacha dictionary, text collection, and grammar based on archival sources. Completed Rosetta Stone language-learning software for the language in 2010.</p>
    </li>

    <li class=cv-item>
      <time>2015–2017</time>
      <p><strong>Tlahuapa Mixtec (<span class=txn lang=jmx>Tuʼun Ndáʼbi</span>)</strong>, Santa Barbara, CA</p>
      <p class=additional-info>One-year graduate-level field methods class taught by Prof. Eric Campbell, followed by work compiling a lexical database.</p>
    </li>

    <li class=cv-item>
      <time>2014</time>
      <p><strong>Gusii (<span class=txn lang=guz>Ékegusií</span>)</strong>, Kisii, Kenya</p>
      <p class=additional-info>Two months of fieldwork in a rural community near Kisii Town in southwestern Kenya, recording conversation, traditional songs, and folktales.</p>
    </li>

    <li class=cv-item>
      <time>2014</time>
      <p><strong>North Slope Iñupiaq (<span class=txn lang=esi>Iñupiatun</span>)</strong>, Anchorage, AK</p>
      <p class=additional-info>Two weeks of elicitation with a native speaker of the Point Hope dialect.</p>
    </li>

    <li class=cv-item>
      <time>2009–2011</time>
      <p><strong>North Slope Iñupiaq (<span class=txn lang=esi>Iñupiatun</span>)</strong>, remote</p>
      <p class=additional-info>Daily online elicitation sessions for the purpose of creating Rosetta Stone language-learning software.</p>
    </li>

    <li class=cv-item>
      <time>2008–2010</time>
      <p><strong>Navajo (<span class=txn lang=nav>Diné bizaad</span>)</strong>, Navajo Nation + remote</p>
      <p class=additional-info>Daily elicitation sessions for the purpose of creating Rosetta Stone language-learning software. Included both remote fieldwork and numerous field visits, generally for 2 weeks at a time.</p>
    </li>

    <li class=cv-item>
      <time>2007</time>
      <p><strong>Turkish (<span class=txn lang=tur>Türkçe</span>)</strong>, Williamsburg, VA</p>
      <p class=additional-info>A one-semester undergraduate descriptive linguistics / field methods course.</p>
    </li>

    <li class=cv-item>
      <time>2006–2007</time>
      <p><strong>Kimvita Swahili (<span class=txn lang=swa>Kimvita</span>)</strong>, Mombasa, Kenya & Nairobi, Kenya</p>
      <p class=additional-info>Two semesters researching language shift and endangerment in the Kimvita (Mombasa) dialect of Swahili. Worked primarily with youth speakers collecting and analyzing texts.</p>
    </li>

  </ul>
</section>