<section id=languages class=languages>
  <h2 class=section-header>Languages Spoken & Studied</h2>
  {% md %}

Name | Autonym | Glottocode | ISO 639-3 Code | Proficiency
---- | ------- | ---------- | -------------- | -----------
Chitimacha | Sitimaxa { .txn lang=ctm } | `chit1248` | `ctm` | structural knowledge
Cree | nêhiyawêwin { .txn lang=cre } | `cree1272` | `cre` | structural knowledge
French | français { .txn lang=fra } | `stan1290` | `fra` | beginner
Gusii | Ékegusií { .txn lang=guz } | `gusi1247` | `guz` | structural knowledge
Iñupiaq | Iñupiatun { .txn lang=esi } | `nort2944` | `esi` | structural knowledge
Latin | lingua Latina { .txn lang=lat } | `lati1261` | `lat` | intermediate
Mohawk | Kanienʼkéha { .txn lang=moh } | `moha1258` | `moh` | structural knowledge
Navajo | Diné bizaad { .txn lang=nav } | `nava1243` | `nav` | structural knowledge
Luiseño | Chamtéela { .txn lang=lui } | `luis1254` | `lui` | structural knowledge
Spanish | español { .txn lang=spa } | `stan1288` | `spa` | advanced
Swahili | Kiswahili { .txn lang=swh } | `swah1253` | `swh` | advanced

  {% endmd %}
</section>