<section id=memberships class=memberships>
  <h2 class=section-header>Professional Memberships</h2>
  <ul class=cv-list>

    <li class=cv-item>
      <time>2008–present</time>
      <p><strong>Association for Linguistic Typology (<abbr title='Association for Linguistic Typology'>ALT</abbr>)</strong></p>
    </li>

    <li class=cv-item>
      <time>2008–present</time>
      <p><strong>Foundation for Endangered Languages (<abbr title='Foundation for Endangered Languages'>FEL</abbr>)</strong></p>
    </li>

    <li class=cv-item>
      <time>2008–present</time>
      <p><strong>Linguistic Society of America (<abbr title='Linguistic Society of America'>LSA</abbr>)</strong></p>
    </li>

    <li class=cv-item>
      <time>2008–present</time>
      <p><strong>Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>)</strong></p>
    </li>

    <li class=cv-item>
      <time>2013–2021</time>
      <p><strong>Association of Contemporary African Linguistics (<abbr title='Association of Contemporary African Linguistics'>ACAL</abbr>)</strong></p>
    </li>

  </ul>
</section>