<section id=programming class=programming>

  <h2 class=section-header>Software Skills & Proficiencies</h2>

  <section>
    <h3 class=subsection-header>Skills</h3>
    <ul class=bulleted>
      <li>Database Management & Design</li>
      <li>Open Source Project Management</li>
      <li>Progressive Web Apps (PWAs)</li>
      <li>Text Processing</li>
      <li>Web App Development (full stack)</li>
    </ul>
  </section>

  <section>
    <h3 class=subsection-header>Programming Languages</h3>
    <ul class=bulleted>
      <li>CSS (and preprocessors / postprocessors)</li>
      <li>HTML (and various templating languages)</li>
      <li>LaTeX</li>
      <li>JavaScript / Node</li>
      <li>Praat scripting</li>
      <li>R</li>
      <li>SQL</li>
    </ul>
  </section>

</section>