  <section id=service class=service>

    <h2 class=section-header>Professional Service</h2>

    <section>
      <h3 class=subsection-header>Extramural Service</h3>
      <ul class=cv-list>

        <li class=cv-item>
          <time>2013–2020</time>
          <p><strong>Webmaster</strong>, Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>)</p>
        </li>

        <li class=cv-item>
          <time>2015–2017</time>
          <p><strong>Advisory Council Member</strong>, Institute for Collaborative Language Documentation</p>
        </li>

        <li class=cv-item>
          <time>2011–2014</time>
          <p><strong>Webmaster</strong>, Linguistic Society of America (<abbr title='Linguistic Society of America'>LSA</abbr>) Committee on Endangered Languages and their Preservation (<abbr title='Committee on Endangered Languages and their Preservation'>CELP</abbr>)</p>
        </li>

      </ul>
    </section>

    <section>
      <h3 class=subsection-header>Reviewing</h3>
      <p class=intro>I have reviewed for the following publications, presses, and organizations, as well as miscellaneous chapters in various edited volumes.</p>
      <ul class='bulleted cv-list'>
        <li>Endangered Language Fund (<abbr title='Endangered Language Fund'>ELF</abbr>)</li>
        <li>Language Science Press (proofreader)</li>
        <li><cite>Libertarian Papers</cite></li>
        <li><abbr title='National Science Foundation'>NSF</abbr> / <abbr title='National Endowment for the Humanities'>NEH</abbr> Documenting Endangered Languages Program</li>
        <li><cite>Proceedings of the Algonquian Conference</cite></li>
        <li>Society for the Study of the Indigenous Languages of the Americas (<abbr title='Society for the Study of the Indigenous Languages of the Americas'>SSILA</abbr>)</li>
      </ul>
    </section>

  </section>