<section id=teaching class=teaching>
  <h2 class=section-header>Teaching</h2>
  <p class='centered intro'>Click the name of a course for additional details.</p>
  <ul class=cv-list>

    <li>
      <details>
        <summary>
          <p><strong>Language, Race, & Ethnicity</strong> (Teaching Assistant, University of California, Santa Barbara)</p>
        </summary>
        <p>Linguistic practices of major ethnoracial groups in the United States, including African Americans, Asian Americans, European Americans, Latinos, and Native Americans; examination of the linguistic effects of immigration and colonialism; bilingualism, code switching, style shifting, language shift, and heritage language learning; linguistic interaction and contact between ethnoracial groups; language as a resource for ethnoracial identity; linguistic racism; linguistic activism.</p>
        <ul class=bulleted>
          <li>Fall 2020 (2 sections)</li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary>
          <p><strong>Language & Life</strong> (Teaching Assistant, University of California, Santa Barbara)</p>
        </summary>
        <p>The diversity and history of languages; their norms, conventions, and written traditions; the role of language in culture and identity; language rights and multilingualism, and the implications of technology for language use. Focused especially on linguistics as a science and the scientific method, as well as natural vs. artificial languages.</p>
        <ul class=bulleted>
          <li>Spring 2017 (2 sections)</li>
          <li>Spring 2016 (2 sections)</li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary>
          <p><strong>Introduction to Language & Linguistics</strong> (Teaching Assistant, University of California, Santa Barbara)</p>
        </summary>
        <p>Introduction to the scientific study of language: The sounds of language; word and sentence structure; semantics and pragmatics; discourse and conversational speech; the social and cultural functions of language; language change and the reconstruction of languages at earlier stages.</p>
        <ul class=bulleted>
          <li>Summer 2014 (1 section)</li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary>
          <p><strong>Phonetics</strong> (Teaching Assistant, University of California, Santa Barbara)</p>
        </summary>
        <p>An introduction to the articulatory and acoustic properties of speech sounds. Survey of speech sounds found in the languages of the world. Emphasis on ear training and transcription using the International Phonetic Alphabet.</p>
        <ul class=bulleted>
          <li>Fall 2017 (2 sections)</li>
        </ul>
      </details>
    </li>

  </ul>
</section>