<section id=work class=work>
  <h2 class=section-header>Work Experience</h2>
  <ul class=cv-list>

    <li class=cv-item>
      <time datetime=2022>2022–present</time>
      <p class=citation><strong class=title>Linguist</strong>, Chitimacha Tribe of Louisiana</p>
    </li>

    <li class=cv-item>
      <time datetime=2022>2021–2022</time>
      <p class=citation><strong class=title>Postdoctoral Fellow</strong>, University of Alberta Language Technology Lab (<abbr title='Alberta Language Technology Lab'>ALTLab</abbr>)</p>
    </li>

    <li class=cv-item>
      <time datetime=2020>2018–2020</time>
      <p class=citation><strong class=title>Assistant Editor</strong>, Custom Languages, Rosetta Stone</p>
    </li>

    <li class=cv-item>
      <time datetime=2020>2014–2020</time>
      <p class=citation><strong class=title>Teaching Assistant</strong>, Department of Linguistics, Univesrity of California, Santa Barbara</p>
    </li>

    <li class=cv-item>
      <time datetime=2015>2014–2015</time>
      <p class=citation><strong class=title>Research Assistant</strong>, Prof. Carol Genetti, University of California, Santa Barbara</p>
    </li>

    <li class=cv-item>
      <time datetime=2013>2012–2013</time>
      <p class=citation><strong class=title>Editor</strong>, Commercial Languages, Rosetta Stone</p>
    </li>

    <li class=cv-item>
      <time datetime=2012>2011–2012</time>
      <p class=citation><strong class=title>Associate Researcher</strong>, Research Labs, Rosetta Stone</p>
    </li>

    <li class=cv-item>
      <time datetime=2011>2008–2011</time>
      <p class=citation><strong class=title>Editor</strong>, Endangered Language Program, Rosetta Stone</p>
    </li>

    <li class=cv-item>
      <time datetime=2008>2007–2008</time>
      <p class=citation><strong class=title>Intern</strong>, Endangered Language Program, Rosetta Stone</p>
    </li>

    <li class=cv-item>
      <time datetime=2006>2006</time>
      <p class=citation><strong class=title>Spanish Instructor</strong>, Nielsen Builders</p>
    </li>

    <li class=cv-item>
      <time datetime=2006>2004–2006</time>
      <p class=citation><strong class=title>Lab Assistant</strong>, Language Lab, College of William & Mary</p>
    </li>

    <li class=cv-item>
      <time datetime=2004>2002–2004</time>
      <p class=citation><strong class=title>Latin Instructor</strong>, Bridgewater Home School Unit</p>
    </li>

  </ul>
</section>